Repository dipy/dipy, pull requests merged in 2018-12, with the labels that each got.

#1678 Numpy matrix deprecation
  dipy/reconst/mapmri.py
  dipy/tracking/life.py
Labels: state: ready-to-be-merged, type:Maintenance

#1677 [FIX] workflow help msg
  dipy/fixes/argparse.py
  dipy/workflows/base.py
  dipy/workflows/flow_runner.py
  dipy/workflows/mask.py
  dipy/workflows/reconst.py
  dipy/workflows/segment.py
  dipy/workflows/tests/test_reconst_csa_csd.py
  dipy/workflows/tests/test_reconst_mapmri.py
  dipy/workflows/workflow.py
  doc/examples/streamline_formats.py
Labels: state: ready-to-be-merged, type:Enhancement

#1667 Changing the default b0_threshold in gtab
  dipy/core/gradients.py
  dipy/core/tests/test_gradients.py
  dipy/reconst/ivim.py
  dipy/reconst/shm.py
  dipy/reconst/tests/test_ivim.py
  dipy/reconst/tests/test_qtdmri.py
  dipy/reconst/tests/test_shm.py
  dipy/workflows/reconst.py
  dipy/workflows/tests/test_reconst_dki.py
  dipy/workflows/tests/test_reconst_mapmri.py
Labels: state: ready-to-be-merged, type:Enhancement

#1680 [Fix] workflow variable string
  dipy/workflows/base.py
  dipy/workflows/io.py
  dipy/workflows/multi_io.py
  dipy/workflows/tests/test_iap.py
  dipy/workflows/tests/workflow_tests_utils.py
  doc/examples/gradients_spheres.py
Labels: state: needs code review, state: ready-to-be-merged, type:Bug Fix

#1681 fixed issue with cst orientation in bundle_extraction example
  doc/examples/bundle_extraction.py
Labels: state: ready-to-be-merged, type:Enhancement

#1663 Stats, SNR_in_CC workflow
  bin/dipy_snr_in_cc
  dipy/workflows/stats.py
  dipy/workflows/tests/test_stats.py
Labels: state: work-in-progress, type:New feature

#1685 [Fix] Typo on examples
  doc/examples/linear_fascicle_evaluation.py
  doc/examples/valid_examples.txt
  doc/examples/viz_surfaces.py
Labels: state: needs code review, state: ready-to-be-merged, type:Maintenance

#1686 Standardize workflow
  dipy/io/image.py
  dipy/workflows/denoise.py
  dipy/workflows/mask.py
  dipy/workflows/reconst.py
  dipy/workflows/stats.py
  dipy/workflows/tests/test_io.py
  dipy/workflows/tests/test_reconst_mapmri.py
  dipy/workflows/tests/test_stats.py
Labels: state: needs code review, type:Maintenance

#1684 [FIX] testing line-based target function
  dipy/tracking/tests/test_utils.py
Labels: state: needs code review, state: ready-to-be-merged, type:Maintenance

#1696 Transfer release notes to a specific folder
  doc/index.rst
  doc/old_news.rst
  doc/release_notes/release0.10.rst
  doc/release_notes/release0.11.rst
  doc/release_notes/release0.12.rst
  doc/release_notes/release0.13.rst
  doc/release_notes/release0.14.rst
  doc/release_notes/release0.15.rst
  doc/release_notes/release0.6.rst
  doc/release_notes/release0.7.rst
  doc/release_notes/release0.8.rst
  doc/release_notes/release0.9.rst
  doc/stateoftheart.rst
Labels: state: ready-to-be-merged, type:Documentation
