Repository dipy/dipy, pull requests merged in 2018-10, with the labels that each got.

#1645 Fix worflows creation tutorial error
  doc/examples/workflow_creation.py
Labels: state: needs code review, state: ready-to-be-merged

#1650 Increase codecov tolerance
  .codecov.yml
  .travis.yml
Labels: state: needs code review, state: ready-to-be-merged

#1281 Representing qtau- signal attenuation using qtau-dMRI functional basis
  dipy/core/gradients.py
  dipy/core/tests/test_gradients.py
  dipy/data/fetcher.py
  dipy/reconst/mapmri.py
  dipy/reconst/qtdmri.py
  dipy/reconst/tests/test_qtdmri.py
  doc/developers.rst
  doc/examples/reconst_qtdmri.py
  doc/examples/valid_examples.txt
  doc/examples_index.rst
Labels: state: needs feedback, state: ready-to-be-merged

#1658 STYLE: Honor 'descoteaux'and 'tournier' SH basis naming.
  dipy/direction/peaks.py
  dipy/reconst/csdeconv.py
  dipy/reconst/shm.py
  dipy/reconst/tests/test_shm.py
Labels: state: ready-to-be-merged
