Repository dipy/dipy, pull requests merged in 2019-12, with the labels that each got.

#2011 BF: Use the `sklearn.base` interface, instead of deprecated `sklearn.linear_model.base`
  dipy/reconst/sfm.py
Labels: type:Bug Fix

#2008 Fix origin nomenclature sft (center/corner)
  dipy/io/stateful_tractogram.py
  dipy/io/streamline.py
  dipy/io/tests/test_stateful_tractogram.py
  dipy/io/tests/test_utils.py
  dipy/io/utils.py
Labels: type:Maintenance

#1997 [FIX] Avoid copy of Streamlines data
  dipy/io/stateful_tractogram.py
  dipy/io/tests/test_stateful_tractogram.py
  dipy/stats/analysis.py
  dipy/tracking/streamlinespeed.pyx
  dipy/tracking/tests/test_tracking.py
Labels: type:Maintenance

#1952 Adding lpca, mppca and gibbs ringing workflows
  bin/dipy_denoise_lpca
  bin/dipy_denoise_mppca
  bin/dipy_denoise_nlmeans
  bin/dipy_gibbs_ringing
  dipy/denoise/tests/test_lpca.py
  dipy/workflows/denoise.py
  dipy/workflows/tests/test_denoise.py
  doc/api_changes.rst
Labels: state: needs code review, type:New feature

#2015 Update nibabel minimum version (3.0.0)
  .travis.yml
  azure-pipelines.yml
  dipy/align/reslice.py
  dipy/align/tests/test_reslice.py
  dipy/data/__init__.py
  dipy/data/fetcher.py
  dipy/denoise/tests/test_ascm.py
  dipy/denoise/tests/test_denoise.py
  dipy/denoise/tests/test_noise_estimate.py
  dipy/info.py
  dipy/io/image.py
  dipy/io/tests/test_utils.py
  dipy/io/utils.py
  dipy/reconst/benchmarks/bench_csd.py
  dipy/reconst/tests/test_cross_validation.py
  dipy/reconst/tests/test_csdeconv.py
  dipy/reconst/tests/test_dti.py
  dipy/reconst/tests/test_ivim.py
  dipy/reconst/tests/test_sfm.py
  dipy/segment/tests/test_mask.py
  dipy/tracking/tests/test_life.py
  dipy/workflows/align.py
  dipy/workflows/reconst.py
  dipy/workflows/segment.py
  dipy/workflows/tests/test_align.py
  dipy/workflows/tests/test_denoise.py
  dipy/workflows/tests/test_io.py
  dipy/workflows/tests/test_masking.py
  dipy/workflows/tests/test_reconst_csa_csd.py
  dipy/workflows/tests/test_reconst_dki.py
  dipy/workflows/tests/test_reconst_dti.py
  dipy/workflows/tests/test_reconst_ivim.py
  dipy/workflows/tests/test_reconst_mapmri.py
  dipy/workflows/tests/test_segment.py
  dipy/workflows/tests/test_stats.py
  dipy/workflows/tests/test_tracking.py
  requirements.txt
Labels: type:Maintenance

#2012 Add ability to analyze entire streamline in connectivity_matrix
  dipy/tracking/tests/test_utils.py
  dipy/tracking/utils.py
Labels: state: needs code review, type:Enhancement

#2016 replace get_fdata by load_nifti_data
  dipy/data/fetcher.py
  dipy/denoise/tests/test_noise_estimate.py
  dipy/io/image.py
  dipy/io/tests/test_utils.py
  dipy/io/utils.py
  dipy/reconst/benchmarks/bench_csd.py
  dipy/reconst/csdeconv.py
  dipy/reconst/dki.py
  dipy/reconst/mapmri.py
  dipy/reconst/tests/test_cross_validation.py
  dipy/reconst/tests/test_csdeconv.py
  dipy/reconst/tests/test_dti.py
  dipy/reconst/tests/test_ivim.py
  dipy/reconst/tests/test_sfm.py
  dipy/segment/tests/test_mask.py
  dipy/tracking/tests/test_life.py
  dipy/workflows/reconst.py
  dipy/workflows/tests/test_align.py
  dipy/workflows/tests/test_denoise.py
  dipy/workflows/tests/test_io.py
  dipy/workflows/tests/test_masking.py
  dipy/workflows/tests/test_reconst_csa_csd.py
  dipy/workflows/tests/test_reconst_dki.py
  dipy/workflows/tests/test_reconst_dti.py
  dipy/workflows/tests/test_reconst_ivim.py
  dipy/workflows/tests/test_reconst_mapmri.py
  dipy/workflows/tests/test_segment.py
  dipy/workflows/tests/test_stats.py
  dipy/workflows/tests/test_tracking.py
  doc/examples/afq_tract_profiles.py
Labels: type:Maintenance
