Repository dipy/dipy, pull requests merged in 2019-07, with the labels that each got.

#1878 Clean up: Remove NUMPY_LESS_0.8.x
  dipy/reconst/dti.py
  dipy/utils/arrfuncs.py
  dipy/utils/tests/test_arrfuncs.py
Labels: state: needs code review

#1893 Remove scratch folder
  scratch/coordmap_example.py
  scratch/learning_old.py
  scratch/odf.py
  scratch/profile_dti.py
  scratch/restore_dti_simulations.py
  scratch/sphplot.py
  scratch/twoD.py
  scratch/very_scratch/bingham.py
  scratch/very_scratch/check_flipping.py
  scratch/very_scratch/dcm2FAasnii.py
  scratch/very_scratch/dcm2S0asnii.py
  scratch/very_scratch/diffusion_sphere_stats.py
  scratch/very_scratch/eddy_currents.py
  scratch/very_scratch/ellipse.py
  scratch/very_scratch/gen_iter.py
  scratch/very_scratch/get_vertices.py
  scratch/very_scratch/gqsampling_stats.py
  scratch/very_scratch/joint_hist.py
  scratch/very_scratch/make_eleftherios_tests.py
  scratch/very_scratch/pbc_training_set_clustering.py
  scratch/very_scratch/profile_dti.py
  scratch/very_scratch/registration_example.py
  scratch/very_scratch/simulation_comparison_dsi_gqi.py
  scratch/very_scratch/simulation_comparisons.py
  scratch/very_scratch/simulation_comparisons_modified.py
  scratch/very_scratch/simulation_dsi.py
  scratch/very_scratch/spherical_statistics.py
  scratch/very_scratch/tractography_clustering_new_fos.py
  scratch/very_scratch/tractography_clustering_using_larch.py
  scratch/very_scratch/warptalk.py
Labels: type:Maintenance

#1898 Replace SingleTensor by single_tensor
  dipy/data/__init__.py
  dipy/reconst/forecast.py
  dipy/reconst/mapmri.py
  dipy/reconst/shore.py
  dipy/reconst/tests/test_dsi.py
  dipy/reconst/tests/test_dsi_deconv.py
  dipy/reconst/tests/test_dsi_metrics.py
  dipy/reconst/tests/test_forecast.py
  dipy/reconst/tests/test_gqi.py
  dipy/reconst/tests/test_mapmri.py
  dipy/reconst/tests/test_qtdmri.py
  dipy/reconst/tests/test_shore.py
  dipy/reconst/tests/test_shore_metrics.py
  dipy/reconst/tests/test_shore_odf.py
  dipy/sims/phantom.py
  dipy/sims/tests/test_voxel.py
  dipy/sims/voxel.py
  doc/api_changes.rst
Labels: state: needs code review, type:Maintenance

#1899 Fix: Byte ordering error on Python 3.5
  dipy/reconst/peak_direction_getter.pyx
Labels: type:Maintenance

#1887 DOC - updated streamline_tools example with the LocalTracking Framework
  doc/examples/streamline_tools.py
Labels: state: needs code review

#1908 DOC: Fix typos
  doc/examples/denoise_gibbs.py
  doc/examples/reconst_fwdti.py
Labels: :notebook:type:Documentation :notebook:

#1907 DOC: Fix examples documentation generation warnings
  doc/devel/gitwash/index.rst
  doc/examples/affine_registration_3d.py
  doc/examples/afq_tract_profiles.py
  doc/examples/cluster_confidence.py
  doc/examples/combined_workflow_creation.py
  doc/examples/contextual_enhancement.py
  doc/examples/linear_fascicle_evaluation.py
  doc/examples/particle_filtering_fiber_tracking.py
  doc/examples/path_length_map.py
  doc/examples/reconst_csa.py
  doc/examples/reconst_fwdti.py
  doc/examples/reconst_ivim.py
  doc/examples/reconst_msdki.py
  doc/examples/reconst_qtdmri.py
  doc/examples/register_binary_fuzzy.py
  doc/examples/sfm_tracking.py
  doc/examples/snr_in_cc.py
  doc/examples/streamline_length.py
  doc/examples/tracking_bootstrap_peaks.py
  doc/examples/tracking_tissue_classifier.py
  doc/examples/viz_bundles.py
  doc/examples/viz_roi_contour.py
  doc/examples/viz_slice.py
  doc/examples/viz_timers.py
  doc/examples/viz_ui.py
  doc/examples_index.rst
Labels: :notebook:type:Documentation :notebook:, state: needs feedback

#1914 [Fix] vol_idx missing in snr_in_cc Tutorial
  doc/examples/snr_in_cc.py
Labels: state: needs code review, type:Maintenance

#1911 Add python_requires
  setup.py
Labels: state: needs code review, type:Maintenance

#1912 Remove deprecated parameter voxel_size
  dipy/tracking/_utils.py
  dipy/tracking/tests/test_utils.py
  dipy/tracking/utils.py
  dipy/tracking/vox2track.pyx
  doc/api_changes.rst
Labels: state: needs code review, type:Maintenance

#1630 [Fix] remove Userwarning message
  dipy/direction/tests/test_peaks.py
  dipy/direction/tests/test_pmf.py
  dipy/reconst/csdeconv.py
  dipy/reconst/tests/test_csdeconv.py
  dipy/reconst/tests/test_ivim.py
  dipy/reconst/tests/test_mapmri.py
  dipy/workflows/docstring_parser.py
  dipy/workflows/tests/test_reconst_csa_csd.py
Labels: state: needs code review, type:Maintenance

#1915 Doc generation under Windows
  dipy/align/bundlemin.pyx
  dipy/align/imaffine.py
  dipy/align/parzenhist.pyx
  dipy/core/sphere.py
  dipy/data/fetcher.py
  dipy/denoise/gibbs.py
  dipy/denoise/noise_estimate.py
  dipy/direction/peaks.py
  dipy/io/utils.py
  dipy/reconst/csdeconv.py
  dipy/reconst/dki.py
  dipy/reconst/dki_micro.py
  dipy/reconst/dti.py
  dipy/reconst/mapmri.py
  dipy/reconst/recspeed.pyx
  dipy/reconst/shm.py
  dipy/reconst/utils.py
  dipy/stats/analysis.py
  dipy/tracking/_utils.py
  dipy/tracking/life.py
  dipy/tracking/streamline.py
  dipy/tracking/utils.py
  dipy/utils/optpkg.py
  dipy/viz/regtools.py
  doc/conf.py
  doc/dependencies.rst
  doc/devel/gitwash/git_resources.rst
  doc/devel/make_release.rst
  doc/examples/fiber_to_bundle_coherence.py
  doc/examples/gradients_spheres.py
  doc/faq.rst
  doc/index.rst
  doc/links_names.inc
  doc/make.bat
  doc/old_news.rst
  doc/release_notes/release0.6.rst
  doc/release_notes/release0.7.rst
  doc/sphinxext/github.py
  tools/build_dmgs.py
  tools/doctest_extmods.py
  tools/ex2rst
  tools/make_examples.py
Labels: state: needs code review, type:New feature

#1913 RF - EuDX legacy code/test
  dipy/data/__init__.py
  dipy/data/files/EuDX_small_25.trk
  dipy/direction/peaks.py
  dipy/reconst/peak_direction_getter.pyx
  dipy/reconst/tests/test_peak_dg.py
  dipy/tracking/eudx.py
  dipy/tracking/local/tests/test_tracking.py
  dipy/tracking/tests/test_life.py
  dipy/tracking/tests/test_propagation.py
  doc/api_changes.rst
Labels: state: needs code review

#1885 BF - remove single pts streamline
  dipy/tracking/local/localtracking.py
  dipy/tracking/local/tests/test_tracking.py
Labels: state: ready-to-be-merged, type:Bug Fix

#1922 Remove deprecated functions from imaffine
  dipy/align/imaffine.py
  dipy/core/onetime.py
Labels: state: ready-to-be-merged, type:Maintenance

#1894 Default sphere: From symmetric724 to repulsion724
  dipy/data/__init__.py
  dipy/direction/tests/test_bootstrap_direction_getter.py
  dipy/direction/tests/test_peaks.py
  dipy/io/tests/test_io_peaks.py
  dipy/reconst/benchmarks/bench_peaks.py
  dipy/reconst/csdeconv.py
  dipy/reconst/dsi.py
  dipy/reconst/forecast.py
  dipy/reconst/mapmri.py
  dipy/reconst/shore.py
  dipy/reconst/tests/test_csdeconv.py
  dipy/reconst/tests/test_dki.py
  dipy/reconst/tests/test_dki_micro.py
  dipy/reconst/tests/test_dsi.py
  dipy/reconst/tests/test_dsi_deconv.py
  dipy/reconst/tests/test_forecast.py
  dipy/reconst/tests/test_gqi.py
  dipy/reconst/tests/test_mapmri.py
  dipy/reconst/tests/test_peak_finding.py
  dipy/reconst/tests/test_shore_metrics.py
  dipy/reconst/tests/test_shore_odf.py
  dipy/sims/tests/test_voxel.py
  dipy/sims/voxel.py
  dipy/tracking/life.py
  dipy/tracking/local/tests/test_tracking.py
  dipy/tracking/tests/test_propagation.py
  dipy/viz/projections.py
  dipy/workflows/reconst.py
  doc/api_changes.rst
  doc/examples/contextual_enhancement.py
  doc/examples/reconst_csa.py
  doc/examples/reconst_csa_parallel.py
  doc/examples/reconst_csd.py
  doc/examples/reconst_csd_parallel.py
  doc/examples/reconst_dsi.py
  doc/examples/reconst_dsid.py
  doc/examples/reconst_dti.py
  doc/examples/reconst_forecast.py
  doc/examples/reconst_gqi.py
  doc/examples/reconst_mapmri.py
  doc/examples/reconst_shore.py
  doc/examples/restore_dti.py
  doc/examples/simulate_multi_tensor.py
Labels: type:Enhancement

#1923 [Fix] removing minmax_norm parameter from peak_direction
  dipy/direction/peaks.py
  dipy/tracking/tests/test_life.py
Labels: state: needs code review, type:Maintenance

#1937 Add a warning about future changes that will happen in dipy.stats.
  dipy/stats/__init__.py
Labels: state: ready-to-be-merged, type:Maintenance

#1935 Remove dipy.external and dipy.fixes packages
  .codecov.yml
  dipy/__init__.py
  dipy/core/gradients.py
  dipy/external/__init__.py
  dipy/external/fsl.py
  dipy/external/tests/__init__.py
  dipy/fixes/__init__.py
  dipy/fixes/scipy.py
  doc/api_changes.rst
  doc/tools/build_modref_templates.py
  setup.py
Labels: state: needs code review, type:Maintenance

#1926 RF - dipy.tracking.local
  dipy/direction/closest_peak_direction_getter.pxd
  dipy/direction/closest_peak_direction_getter.pyx
  dipy/reconst/peak_direction_getter.pyx
  dipy/tracking/direction_getter.pxd
  dipy/tracking/direction_getter.pyx
  dipy/tracking/local/__init__.py
  dipy/tracking/local/tests/__init__.py
  dipy/tracking/local_tracking.py
  dipy/tracking/localtrack.pyx
  dipy/tracking/stopping_criterion.pxd
  dipy/tracking/stopping_criterion.pyx
  dipy/tracking/tests/test_stopping_criterion.py
  dipy/tracking/tests/test_tracking.py
  dipy/workflows/tests/test_tracking.py
  dipy/workflows/tracking.py
  doc/api_changes.rst
  doc/examples/cluster_confidence.py
  doc/examples/fiber_to_bundle_coherence.py
  doc/examples/path_length_map.py
  doc/examples/streamline_tools.py
  doc/examples/tracking_bootstrap_peaks.py
  doc/examples/tracking_deterministic.py
  doc/examples/tracking_introduction_eudx.py
  doc/examples/tracking_pft.py
  doc/examples/tracking_probabilistic.py
  doc/examples/tracking_sfm.py
  doc/examples/tracking_stopping_criterion.py
  doc/examples/valid_examples.txt
  doc/examples/viz_roi_contour.py
  doc/examples_index.rst
  setup.py
Labels: state: needs code review, state: needs feedback
