Repository dipy/dipy, pull requests merged in 2019-11, with the labels that each got.

#1994 MAINT: Update gradient for SciPy deprecation
  dipy/align/metrics.py
Labels: type:Maintenance

#1998 [DOC] Workflows Tutorial
  doc/documentation.rst
  doc/interfaces/basic_flow.rst
  doc/interfaces/index.rst
  doc/tools/docgen_cmd.py
Labels: :notebook:type:Documentation :notebook:

#1999 add cenir_multib to dipy_fetch worflows
  dipy/workflows/io.py
Labels: type:Enhancement

#2002 BUG: Fix workflows IO `FetchFlow` `all` dataset fetching
  dipy/workflows/io.py
  dipy/workflows/tests/test_io.py
Labels: type:Bug Fix
