Repository dipy/dipy, pull requests merged in 2020-08, with the labels that each got.

#2142 ENH: function to calculate size/shape parameters of b-tensors and vice-versa
  dipy/core/gradients.py
  dipy/core/tests/test_gradients.py
Labels: type:Enhancement

#2203 End of line period in sft
  dipy/io/stateful_tractogram.py
  dipy/io/streamline.py
Labels: type:Maintenance

#2183 _streamlines_in_mask bounds check
  dipy/tracking/tests/test_utils.py
  dipy/tracking/vox2track.pyx
Labels: type:Enhancement

#2204 from Renderer to scene
  dipy/sims/phantom.py
  dipy/tracking/distances.pyx
  dipy/tracking/tests/test_distances.py
  dipy/viz/panel.py
  doc/api_changes.rst
  doc/examples/bundle_extraction.py
  doc/examples/bundle_registration.py
  doc/examples/cluster_confidence.py
  doc/examples/contextual_enhancement.py
  doc/examples/fiber_to_bundle_coherence.py
  doc/examples/gradients_spheres.py
  doc/examples/linear_fascicle_evaluation.py
  doc/examples/path_length_map.py
  doc/examples/reconst_csa.py
  doc/examples/reconst_csd.py
  doc/examples/reconst_dsid.py
  doc/examples/reconst_dti.py
  doc/examples/reconst_forecast.py
  doc/examples/reconst_mapmri.py
  doc/examples/reconst_mcsd.py
  doc/examples/reconst_sh.py
  doc/examples/reconst_shore.py
  doc/examples/restore_dti.py
  doc/examples/segment_clustering_features.py
  doc/examples/segment_clustering_metrics.py
  doc/examples/segment_extending_clustering_framework.py
  doc/examples/segment_quickbundles.py
  doc/examples/sfm_reconst.py
  doc/examples/simulate_multi_tensor.py
  doc/examples/streamline_length.py
  doc/examples/streamline_registration.py
  doc/examples/streamline_tools.py
  doc/examples/tracking_bootstrap_peaks.py
  doc/examples/tracking_deterministic.py
  doc/examples/tracking_introduction_eudx.py
  doc/examples/tracking_pft.py
  doc/examples/tracking_probabilistic.py
  doc/examples/tracking_sfm.py
  doc/examples/tracking_stopping_criterion.py
  doc/examples/viz_advanced.py
  doc/examples/viz_bundles.py
  doc/examples/viz_roi_contour.py
  doc/examples/viz_slice.py
Labels: :notebook:type:Documentation :notebook:

#2205 Add optional installs for different settings.
  dipy/info.py
  setup.py
Labels: type:New feature

#2157 BF: Fix variable may be used uninitialized warning
  dipy/align/bundlemin.pyx
  dipy/segment/clusteringspeed.pyx
  dipy/tracking/distances.pyx
  dipy/tracking/fbcmeasures.pyx
Labels: type:Maintenance
