Repository dipy/dipy, pull requests merged in 2020-10, with the labels that each got.

#2239 [ENH] Add inplace kwarg to gibbs_removal
  dipy/denoise/gibbs.py
  dipy/denoise/tests/test_gibbs.py
Labels: type:Enhancement

#2246 [DOC] Replace simple backticks with double backticks
  doc/devel/coding_style_guideline.rst
Labels: :notebook:type:Documentation :notebook:

#2247 BF: In LiFE, set nan signals to 0.
  dipy/tracking/life.py
Labels: type:Enhancement

#2249 [fix] fix value_range in HORIZON
  dipy/viz/panel.py
Labels: type:Bug Fix

#2248 [DOC] fetching dataset
  doc/interfaces/data_fetch.rst
  doc/interfaces/index.rst
Labels: :notebook:type:Documentation :notebook:

#2252 BUG: Set tau factor to parameter value in local PCA
  dipy/denoise/localpca.py
Labels: type:Bug Fix

#2250 [ENH] Add parallelization to gibbs denoising
  dipy/denoise/gibbs.py
  dipy/denoise/tests/test_gibbs.py
  dipy/workflows/denoise.py
  doc/examples/denoise_gibbs.py
Labels: type:Enhancement

#2227 RF: Replaces our own custom progressbar with a tqdm progressbar.
  .travis.yml
  azure-pipelines.yml
  ci/azure/linux.yml
  ci/azure/osx.yml
  ci/azure/windows.yml
  dipy/data/fetcher.py
  dipy/info.py
  requirements.txt
  setup.py
Labels: type:Maintenance

#2025 Adds an align.api module, which provides simplified API to registration functions
  dipy/align/__init__.py
  dipy/align/_public.py
  dipy/align/tests/test_api.py
  dipy/io/tests/test_utils.py
  dipy/io/utils.py
  doc/examples/affine_registration_3d.py
Labels: type:New feature

#2198 Make single and multi tensor simulations compatible with btensors
  dipy/sims/tests/test_voxel.py
  dipy/sims/voxel.py
Labels: type:New feature

#2240 [ENH] Deprecate interp parameter name in AffineMap
  dipy/align/imaffine.py
  dipy/align/tests/test_imaffine.py
  dipy/utils/deprecator.py
  dipy/utils/tests/test_deprecator.py
  doc/api_changes.rst
Labels: type:Enhancement

#2253 Improve FFT efficiency in gibbs_removal
  dipy/denoise/gibbs.py
Labels: type:Enhancement

#2256 update BUAN citations
  dipy/segment/bundles.py
  dipy/stats/analysis.py
  dipy/workflows/segment.py
  dipy/workflows/stats.py
  doc/interfaces/buan_flow.rst
Labels: type:Maintenance

#1919 [DOC] Add an overview of reconstruction models
  doc/examples_index.rst
  doc/reconstruction_models_list.rst
  tools/make_examples.py
Labels: :notebook:type:Documentation :notebook:, state: needs code review

#2261 [DOC]:Removed tracking evaluation section
  doc/examples_index.rst
Labels: :notebook:type:Documentation :notebook:

#2257 [Fix] warning if not the same number of points
  dipy/core/interpolation.pyx
  dipy/tracking/distances.pyx
  dipy/tracking/tests/test_distances.py
Labels: type:Enhancement

#2258 [FIX] update Azure OSX CI + remove Azure Linux CI's
  azure-pipelines.yml
Labels: type:Maintenance

#2260 [Fix] Better error handling in Diffeomorphic map `get_map`
  dipy/align/imwarp.py
  dipy/align/tests/test_imwarp.py
Labels: type:Enhancement

#2119 RecoBundles updated to read and save .trk files from Old API
  dipy/workflows/segment.py
Labels: type:Maintenance

#2244 DOC : Denoising CLI
  doc/interfaces/denoise_flow.rst
  doc/interfaces/index.rst
Labels: :notebook:type:Documentation :notebook:, gsod2020

#2262 [FIX] update tests to respect numpy NEP 34
  dipy/segment/tests/test_clustering.py
  dipy/tracking/tests/test_streamline.py
Labels: type:Maintenance

#2267 BUG: Fix string literal
  dipy/core/sphere.py
Labels: :notebook:type:Documentation :notebook:

#2268 BUG: Fix literal
  dipy/core/sphere.py
Labels: :notebook:type:Documentation :notebook:

#2264 BF: Fix `dipy_align_syn` default value assumptions
  dipy/workflows/align.py
  dipy/workflows/tests/test_align.py
Labels: type:Bug Fix

#2259 [Fix] Allow read_bvals_bvecs to have 1 or 2 dwi volumes only
  dipy/io/gradients.py
  dipy/io/tests/test_io_gradients.py
Labels: type:Bug Fix

#2263 [FIX] update multiple models due to cvxpy 1.1 (part2)
  dipy/reconst/forecast.py
  dipy/reconst/mcsd.py
  dipy/reconst/qtdmri.py
  dipy/reconst/shore.py
  dipy/reconst/tests/test_mcsd.py
  dipy/reconst/tests/test_qtdmri.py
  dipy/reconst/tests/test_shore.py
Labels: type:Bug Fix, type:Maintenance

#2271 Increase Azure pipeline timeout
  ci/azure/linux.yml
  ci/azure/osx.yml
  ci/azure/windows.yml
Labels: type:Maintenance

#2255 Modifying dti.design_matrix to take gtab.btens into account
  dipy/reconst/dti.py
  dipy/reconst/tests/test_dti.py
Labels: type:Enhancement

#2266 STYLE: minor refactoring in TissueClassifierHMRF
  dipy/segment/mrf.pyx
  dipy/segment/tests/test_mrf.py
  dipy/segment/tissue.py
  doc/api_changes.rst
Labels: type:Enhancement

#2206 NF: Update definitions of SH bases and documentation
  dipy/direction/tests/test_peaks.py
  dipy/direction/tests/test_pmf.py
  dipy/reconst/shm.py
  dipy/reconst/tests/test_csdeconv.py
  dipy/reconst/tests/test_mapmri.py
  dipy/reconst/tests/test_mcsd.py
  dipy/reconst/tests/test_shm.py
  dipy/reconst/tests/test_shore_odf.py
  doc/examples/reconst_sh.py
  doc/theory/sh_basis.rst
Labels: state: needs feedback, type:Enhancement, type:New feature

#2265 Gibbs denoising: fft only along the axis of interest
  dipy/denoise/gibbs.py
Labels: type:Enhancement
