Repository dipy/dipy, pull requests merged in 2020-02, with the labels that each got.

#2047 [fix] Doc generation issue
  dipy/io/image.py
  dipy/reconst/forecast.py
Labels: :notebook:type:Documentation :notebook:

#2043 [NF] Add a Deprecation system
  dipy/info.py
  dipy/testing/__init__.py
  dipy/testing/tests/test_testing.py
  dipy/utils/deprecator.py
  dipy/utils/tests/test_deprecator.py
  requirements.txt
Labels: state: needs code review, type:New feature

#2060 Replace old function with cython version
  dipy/tracking/metrics.py
  dipy/tracking/tests/test_metrics.py
  doc/examples/streamline_length.py
Labels: type:Enhancement

#2045 [Fix] workflow variable string
  dipy/workflows/multi_io.py
  dipy/workflows/reconst.py
Labels: type:Bug Fix

#2063 Gibbs tutorial patch
  doc/examples/denoise_gibbs.py
Labels: :notebook:type:Documentation :notebook:
