Repository dipy/dipy, pull requests merged in 2020-09, with the labels that each got.

#2208 Removing Python 3.5 from Travis and Azure due to its end of life (2020-09-13)
  .travis.yml
  azure-pipelines.yml
  ci/azure/install.sh
  setup.py
Labels: type:Maintenance

#2207 [FIX] Horizon shader warning
  dipy/viz/app.py
Labels: type:Bug Fix

#2212 [FIX] renamed Direct Streamline Normalization tutorial title
  doc/examples/streamline_registration.py
Labels: :notebook:type:Documentation :notebook:

#2191 Multi-shell multi-tissue constrained spherical deconvolution
  dipy/core/gradients.py
  dipy/core/tests/test_gradients.py
  dipy/reconst/csdeconv.py
  dipy/reconst/mcsd.py
  dipy/reconst/msdki.py
  dipy/reconst/tests/test_csdeconv.py
  dipy/reconst/tests/test_mcsd.py
  dipy/reconst/tests/test_msdki.py
  dipy/reconst/tests/test_utils.py
  dipy/reconst/utils.py
  dipy/sims/voxel.py
  dipy/workflows/reconst.py
  dipy/workflows/tests/test_reconst_csa_csd.py
  doc/api_changes.rst
  doc/examples/contextual_enhancement.py
  doc/examples/fiber_to_bundle_coherence.py
  doc/examples/kfold_xval.py
  doc/examples/reconst_csd.py
  doc/examples/reconst_csd_parallel.py
  doc/examples/reconst_mcsd.py
  doc/examples/sfm_reconst.py
  doc/examples/tracking_bootstrap_peaks.py
  doc/examples/tracking_deterministic.py
  doc/examples/tracking_introduction_eudx.py
  doc/examples/tracking_pft.py
  doc/examples/tracking_probabilistic.py
  doc/examples/tracking_sfm.py
  doc/examples/tracking_stopping_criterion.py
Labels: type:Bug Fix, type:New feature

#2110 [Upcoming] Release 1.2.0
  .codecov.yml
  .mailmap
  AUTHOR
  Changelog
  dipy/reconst/ivim.py
  doc/examples/brain_extraction_dwi.py
  doc/index.rst
  doc/old_highlights.rst
  doc/old_news.rst
  doc/release_notes/release1.2.rst
  doc/stateoftheart.rst
Labels: type:Release plan

#2211 [FIX] used numerical indices for references
  dipy/reconst/dti.py
Labels: :notebook:type:Documentation :notebook:

#2217 Fixing numpy version rcond issue in numpy.linalg.lstsq
  dipy/reconst/mcsd.py
Labels: type:Bug Fix

#2218 DOC : inconsistent save_seeds documentation
  dipy/tracking/utils.py
Labels: :notebook:type:Documentation :notebook:

#2220 [DOC] move Denoising on its own section
  doc/examples_index.rst
Labels: :notebook:type:Documentation :notebook:

#2224 Replace pytest.xfail by npt.assert_raises
  dipy/tracking/tests/test_life.py
Labels: type:Maintenance

#2225 [CI] Replace Rackspace by https://anaconda.org/scipy-wheels-nightly
  .gitignore
  .travis.yml
  azure-pipelines.yml
  ci/azure/osx.yml
  ci/azure/script.ps1
  ci/azure/script.sh
  ci/azure/windows.yml
Labels: type:Maintenance

#2226 STYLE: Conform to `reStructuredText` syntax in examples sections
  doc/examples/denoise_localpca.py
  doc/examples/denoise_mppca.py
  doc/examples/reconst_csd.py
  doc/examples/reconst_dki.py
Labels: :notebook:type:Documentation :notebook:

#2221 Robustify solve_qp for possible SolverError in one odd voxel
  dipy/reconst/mcsd.py
Labels: type:Bug Fix, type:Enhancement

#2233 Clarifying msmt response function docstrings
  dipy/reconst/mcsd.py
  dipy/reconst/tests/test_mcsd.py
Labels: :notebook:type:Documentation :notebook:, type:Maintenance

#2234 DOC: Improve some of the links in the `info.py` file
  dipy/info.py
Labels: :notebook:type:Documentation :notebook:

#2235 DOC: Add tips to the documentation build section
  doc/installation.rst
Labels: :notebook:type:Documentation :notebook:

#2241 STYLE: Exclude package information file from PEP8 checks
  .pep8speaks.yml
Labels: type:Maintenance

#2242 maintenance of bundle_shape_similarity function
  dipy/segment/bundles.py
  dipy/workflows/stats.py
Labels: type:Maintenance
