Repository dipy/dipy, pull requests merged in 2020-07, with the labels that each got.

#2188 [Fix] update mapmri due to cvxpy 1.1
  dipy/reconst/mapmri.py
  dipy/workflows/reconst.py
  dipy/workflows/stats.py
Labels: type:Maintenance

#2196 [Fix] update save_vtk_streamlines and load_vtk_streamlines
  dipy/io/vtk.py
  dipy/viz/__init__.py
Labels: type:Bug Fix

#2178 Add full SH basis
  dipy/reconst/shm.py
  dipy/reconst/tests/test_shm.py
  doc/examples/reconst_sh.py
  doc/examples/valid_examples.txt
  doc/examples_index.rst
  doc/theory/sh_basis.rst
Labels: type:New feature

#2168 add fig_kwargs
  dipy/viz/regtools.py
Labels: type:Enhancement

#2174 Improve performance of tissue classification
  dipy/segment/mrf.pyx
Labels: type:Enhancement

#2163 BF: Fix Cython label defined but not used warning
  dipy/tracking/stopping_criterion.pxd
  dipy/tracking/stopping_criterion.pyx
Labels: type:Maintenance

#2161 Fix a memory overlap bug in multi_median (and median_otsu)
  dipy/segment/mask.py
  dipy/segment/tests/test_mask.py
  doc/api_changes.rst
Labels: type:Enhancement

#2195 [ENH] Validate streamlines pre-LiFE
  dipy/tracking/life.py
  dipy/tracking/tests/test_life.py
Labels: type:Enhancement
