Repository dipy/dipy, pull requests merged in 2020-11, with the labels that each got.

#2181 BUAN bundle highlight option in horizon
  dipy/viz/app.py
  dipy/workflows/tests/test_viz.py
  dipy/workflows/viz.py
Labels: type:New feature

#2273 [DOC] Gibbs Unringing CLI
  doc/interfaces/gibbs_unringing_flow.rst
Labels: :notebook:type:Documentation :notebook:, gsod2020

#2270 [Upcoming] Release 1.3.0
  .mailmap
  AUTHOR
  Changelog
  dipy/info.py
  doc/api_changes.rst
  doc/examples/affine_registration_3d.py
  doc/examples/reconst_qtdmri.py
  doc/index.rst
  doc/interfaces/index.rst
  doc/old_highlights.rst
  doc/old_news.rst
  doc/release_notes/release1.3.rst
  doc/stateoftheart.rst
Labels: type:Release plan

#2284 [DOC] Fix incorrect default output directory in doctsrings
  dipy/workflows/align.py
  dipy/workflows/denoise.py
  dipy/workflows/mask.py
  dipy/workflows/segment.py
  dipy/workflows/stats.py
  dipy/workflows/tracking.py
Labels: :notebook:type:Documentation :notebook:

#2287 [DOC] Remove default values from doctstrings for reconstruction methods
  dipy/workflows/reconst.py
Labels: :notebook:type:Documentation :notebook:

#2280 DOC: Improve the denoising workflow documentation
  doc/interfaces/denoise_flow.rst
Labels: :notebook:type:Documentation :notebook:

#2291 Adds for the dipy.align._public module
  dipy/align/_public.py
Labels: type:Enhancement

#2294 [DOC]: Remove default values from docstrings
  dipy/workflows/align.py
  dipy/workflows/base.py
  dipy/workflows/denoise.py
  dipy/workflows/io.py
  dipy/workflows/mask.py
  dipy/workflows/reconst.py
  dipy/workflows/segment.py
  dipy/workflows/stats.py
  dipy/workflows/tracking.py
  dipy/workflows/viz.py
Labels: :notebook:type:Documentation :notebook:

#2292 [DOC]: Add Tracking CLI Documentation
  doc/interfaces/index.rst
  doc/interfaces/tracking_flow.rst
Labels: :notebook:type:Documentation :notebook:, gsod2020
