Repository dipy/dipy, pull requests merged in 2020-04, with the labels that each got.

#2055 Multidimensional gradient table
  dipy/core/gradients.py
  dipy/core/tests/test_gradients.py
Labels: type:New feature

#2102 Modules imported in the beginning
  doc/examples/brain_extraction_dwi.py
Labels: :notebook:type:Documentation :notebook:

#2099 Minor Typos and imports in the beginning
  doc/examples/streamline_length.py
Labels: :notebook:type:Documentation :notebook:

#2095 Fixed typos in dipy.align
  dipy/align/bundlemin.pyx
  dipy/align/expectmax.pyx
  dipy/align/imwarp.py
  dipy/align/metrics.py
  dipy/align/streamlinear.py
Labels: :notebook:type:Documentation :notebook:

#2116 fixed code tags and minor changes
  doc/api_changes.rst
Labels: :notebook:type:Documentation :notebook:

#2113 BF: refer to cigar_tensor
  dipy/core/gradients.py
Labels: type:Bug Fix

#2120 rename var sp to sph
  dipy/align/tests/test_imaffine.py
Labels: type:Maintenance

#2088 BUAN paper code and CLIs
  .travis.yml
  azure-pipelines.yml
  bin/dipy_ba
  bin/dipy_buan_lmm
  bin/dipy_buan_profiles
  bin/dipy_buan_shapes
  dipy/io/utils.py
  dipy/segment/bundles.py
  dipy/segment/clustering.py
  dipy/segment/metric.py
  dipy/stats/__init__.py
  dipy/stats/analysis.py
  dipy/stats/tests/test_analysis.py
  dipy/viz/regtools.py
  dipy/workflows/segment.py
  dipy/workflows/stats.py
  dipy/workflows/tests/test_stats.py
Labels: state: ready-to-be-merged, type:New feature

#2103 Documentation typos, grammar corrections & imports
  doc/examples/segment_extending_clustering_framework.py
Labels: :notebook:type:Documentation :notebook:

#2057 DOC: Add DIPY dataset list to documentation.
  doc/data.rst
  doc/dataset_list.rst
  doc/documentation.rst
Labels: :notebook:type:Documentation :notebook:

#2091 Modified the model for multiple hidden layers
  dipy/nn/model.py
  dipy/nn/tests/test_tf.py
Labels: type:New feature

#2086 WIP Issue 1996
  dipy/align/imwarp.py
  dipy/align/scalespace.py
Labels: :notebook:type:Documentation :notebook:

#2111 Added an epsilon to bounding_box check
  dipy/io/stateful_tractogram.py
  dipy/io/tests/test_stateful_tractogram.py
Labels: type:Enhancement

#2033 RF - Direction getters naming
  dipy/direction/bootstrap_direction_getter.pyx
  dipy/direction/closest_peak_direction_getter.pxd
  dipy/direction/closest_peak_direction_getter.pyx
  dipy/direction/peaks.py
  dipy/direction/tests/test_closest_peak_direction_getter.py
  dipy/reconst/eudx_direction_getter.pyx
  dipy/reconst/peak_direction_getter.py
  dipy/reconst/tests/test_eudx_dg.py
  dipy/tracking/tests/test_tracking.py
  doc/api_changes.rst
  setup.py
Labels: type:Enhancement

#2124 BUAN framework documentation
  doc/interfaces/BUAN_flow.rst
  doc/interfaces/index.rst
Labels: :notebook:type:Documentation :notebook:

#2125 ENH: function to calculate anisotropy of b-tensors
  dipy/core/gradients.py
  dipy/core/tests/test_gradients.py
Labels: type:Enhancement

#2133 BF: Fix NumPy warning when creating arrays from ragged sequences
  dipy/reconst/tests/test_ivim.py
Labels: type:Maintenance

#2129 BF: Fix sequence stacking warning in LiFE tracking
  dipy/tracking/life.py
Labels: type:Maintenance

#2121 BF: ensure `btens` attribute of `GradientTable` is initialised
  dipy/core/gradients.py
  dipy/core/tests/test_gradients.py
Labels: type:Bug Fix

#2108 [Horizon] Update clipping range on slicer
  dipy/viz/app.py
  dipy/viz/panel.py
  dipy/workflows/tests/test_viz.py
  dipy/workflows/viz.py
Labels: type:Bug Fix, type:New feature

#2139 BF: Use equality check instead of identity check
  dipy/viz/regtools.py
  dipy/workflows/base.py
Labels: type:Maintenance

#2136 [Fix] laplacian_regularization on MAPMRI + cleanup warning
  dipy/reconst/mapmri.py
  dipy/reconst/tests/test_mapmri.py
  dipy/sims/voxel.py
Labels: type:Maintenance

#2141 [FIX] doc generation issue
  dipy/data/fetcher.py
  dipy/io/utils.py
  dipy/nn/model.py
  dipy/reconst/cross_validation.py
  dipy/reconst/dti.py
  dipy/reconst/shm.py
  dipy/stats/analysis.py
  dipy/tracking/metrics.py
  doc/Makefile
  doc/api_changes.rst
  doc/devel/coding_style_guideline.rst
  doc/examples/syn_registration_2d.py
  doc/tools/docgen_cmd.py
Labels: :notebook:type:Documentation :notebook:

#2135 [Fix] shm.py RuntimeWarning
  dipy/reconst/csdeconv.py
  dipy/reconst/shm.py
  dipy/reconst/tests/test_shm.py
Labels: type:Maintenance

#2001 Basic processing documentation for CLI.
  doc/interfaces/basic_flow.rst
  doc/interfaces/buan_flow.rst
  doc/interfaces/index.rst
Labels: :notebook:type:Documentation :notebook:

#2134 Slicing, adding function of StatefulTractogram
  dipy/io/stateful_tractogram.py
  dipy/io/tests/test_stateful_tractogram.py
Labels: type:Enhancement

#2146 Cluster threshold parameter in dipy_buan_shapes workflow
  dipy/segment/bundles.py
  dipy/workflows/stats.py
  doc/interfaces/buan_flow.rst
Labels: state: ready-to-be-merged, type:Enhancement, type:Maintenance

#2152 changed buan_flow.rst to BUAN_flow.rst
  doc/interfaces/BUAN_flow.rst
  doc/interfaces/index.rst
Labels: state: ready-to-be-merged, type:Maintenance

#2145 Rename dipy_track command line
  bin/dipy_track
  doc/api_changes.rst
  doc/interfaces/basic_flow.rst
Labels: type:Enhancement

#2149 [Fix] some warning on stats module
  .gitignore
  dipy/stats/analysis.py
  dipy/tracking/metrics.py
  dipy/workflows/stats.py
  dipy/workflows/tests/test_stats.py
Labels: type:Maintenance

#2150 [Fix] some warning on clustering test
  dipy/reconst/tests/test_multi_voxel.py
  dipy/segment/tests/test_clustering.py
Labels: type:Maintenance

#2148 BF: Fix `distutils` Python version requirement option warning
  setup.py
Labels: type:Maintenance

#2147 BF: Fix Cython function override warning
  dipy/reconst/eudx_direction_getter.pyx
Labels: type:Maintenance

#2155 [Fix] sfm RuntimeWarning
  dipy/reconst/sfm.py
  dipy/reconst/tests/test_sfm.py
  dipy/sims/voxel.py
Labels: type:Maintenance

#2158 BF: Fix Cython floating point absolute value warning
  dipy/tracking/localtrack.pyx
Labels: type:Maintenance

#2160 TST: Change assert_equal(statement, True) to assert_(statement).
  dipy/nn/tests/test_tf.py
Labels: type:Maintenance

#2156 BF: Fix Cython signed vs. unsigned integer comparison warning
  dipy/tracking/distances.pyx
Labels: type:Maintenance
