Repository dipy/dipy, pull requests merged in 2020-01, with the labels that each got.

#2018 The Python is dead. Long live the Python
  dipy/__init__.py
Labels: type:Maintenance

#2020 Update get_fnames
  dipy/data/__init__.py
  dipy/data/fetcher.py
Labels: type:Enhancement

#2022 Update pep8speaks configuration
  .pep8speaks.yml
Labels: type:Maintenance

#2009 Upgrade on DKI implementations
  dipy/data/__init__.py
  dipy/data/files/tdesign45.txt
  dipy/reconst/dki.py
  dipy/reconst/dti.py
  dipy/reconst/tests/test_dki.py
  dipy/reconst/utils.py
  dipy/sims/voxel.py
  doc/examples/reconst_dki.py
Labels: state: needs code review, type:Enhancement

#2005 [CI] add python3.8 matrix
  .travis.yml
  README.rst
  azure-pipelines.yml
  dipy/workflows/flow_runner.py
  dipy/workflows/stats.py
Labels: state: needs code review

#2021 Examples update
  .gitignore
  dipy/data/__init__.py
  dipy/data/fetcher.py
  dipy/direction/peaks.py
  dipy/reconst/dki.py
  doc/examples/affine_registration_3d.py
  doc/examples/afq_tract_profiles.py
  doc/examples/brain_extraction_dwi.py
  doc/examples/cluster_confidence.py
  doc/examples/contextual_enhancement.py
  doc/examples/denoise_ascm.py
  doc/examples/denoise_gibbs.py
  doc/examples/denoise_localpca.py
  doc/examples/denoise_mppca.py
  doc/examples/denoise_nlmeans.py
  doc/examples/fiber_to_bundle_coherence.py
  doc/examples/kfold_xval.py
  doc/examples/linear_fascicle_evaluation.py
  doc/examples/path_length_map.py
  doc/examples/piesno.py
  doc/examples/quick_start.py
  doc/examples/reconst_csa.py
  doc/examples/reconst_csa_parallel.py
  doc/examples/reconst_csd.py
  doc/examples/reconst_csd_parallel.py
  doc/examples/reconst_dki.py
  doc/examples/reconst_dki_micro.py
  doc/examples/reconst_dsi.py
  doc/examples/reconst_dsi_metrics.py
  doc/examples/reconst_dti.py
  doc/examples/reconst_forecast.py
  doc/examples/reconst_fwdti.py
  doc/examples/reconst_gqi.py
  doc/examples/reconst_ivim.py
  doc/examples/reconst_mapmri.py
  doc/examples/reconst_mcsd.py
  doc/examples/reconst_msdki.py
  doc/examples/reconst_shore.py
  doc/examples/reconst_shore_metrics.py
  doc/examples/reslice_datasets.py
  doc/examples/restore_dti.py
  doc/examples/sfm_reconst.py
  doc/examples/snr_in_cc.py
  doc/examples/streamline_registration.py
  doc/examples/streamline_tools.py
  doc/examples/syn_registration_2d.py
  doc/examples/syn_registration_3d.py
  doc/examples/tissue_classification.py
  doc/examples/tracking_bootstrap_peaks.py
  doc/examples/tracking_deterministic.py
  doc/examples/tracking_introduction_eudx.py
  doc/examples/tracking_pft.py
  doc/examples/tracking_probabilistic.py
  doc/examples/tracking_sfm.py
  doc/examples/tracking_stopping_criterion.py
  doc/examples/viz_roi_contour.py
  doc/examples/viz_slice.py
Labels: type:Enhancement

#2023 [Upcoming] Release 1.1.0
  .mailmap
  AUTHOR
  Changelog
  LICENSE
  doc/api_changes.rst
  doc/conf.py
  doc/developers.rst
  doc/examples/reconst_ivim.py
  doc/examples/restore_dti.py
  doc/examples/streamline_formats.py
  doc/examples/streamline_registration.py
  doc/examples/viz_advanced.py
  doc/index.rst
  doc/old_highlights.rst
  doc/old_news.rst
  doc/release_notes/release1.1.rst
  doc/stateoftheart.rst
Labels: type:Release plan

#2029 [MAINT] Use the array proxy instead of get_fdata()
  dipy/io/image.py
  dipy/tracking/tests/test_life.py
  doc/api_changes.rst
  doc/examples/denoise_gibbs.py
  doc/examples/reconst_forecast.py
  doc/examples/reconst_fwdti.py
  doc/examples/streamline_registration.py
Labels: type:Maintenance

#2028 Adapted for patch_radius with radii differing xyz direction.
  dipy/denoise/localpca.py
  dipy/denoise/tests/test_lpca.py
Labels: type:Enhancement

#2037 DOC: fix typo in FW DTI tutorial
  doc/examples/reconst_fwdti.py
Labels: :notebook:type:Documentation :notebook:

#2038 [DOC] Update repo path
  .pep8speaks.yml
  CONTRIBUTING.md
  Changelog
  README.rst
  azure-pipelines.yml
  dipy/align/reslice.py
  dipy/direction/peaks.py
  dipy/info.py
  doc/Makefile
  doc/conf.py
  doc/devel/gitwash/following_latest.rst
  doc/devel/gitwash/git_links.txt
  doc/devel/gitwash/known_projects.inc
  doc/devel/gitwash/maintainer_workflow.rst
  doc/devel/gitwash/patching.rst
  doc/devel/gitwash/set_up_fork.rst
  doc/devel/gitwash/this_project.inc
  doc/devel/intro.rst
  doc/examples/fiber_to_bundle_coherence.py
  doc/installation.rst
  doc/links_names.inc
  doc/make.bat
  doc/mission.rst
  doc/release_notes/release0.12.rst
  doc/release_notes/release0.6.rst
  doc/upload-gh-pages.sh
  doc/upload_docs.py
  tools/github_stats.py
Labels: :notebook:type:Documentation :notebook:

#2040 RF: Swallow a couple of warnings that are safe to ignore.
  dipy/core/gradients.py
  dipy/reconst/sfm.py
  dipy/workflows/reconst.py
Labels: type:Maintenance

#2042 Add tests to rng module
  dipy/core/rng.py
  dipy/core/tests/test_rng.py
Labels: type:Maintenance

#2041 BF: SFM prediction with mask
  dipy/reconst/sfm.py
  dipy/reconst/tests/test_sfm.py
Labels: type:Bug Fix

#2044 [FIX] check seeds dtype
  dipy/tracking/local_tracking.py
  dipy/tracking/tests/test_tracking.py
Labels: type:Enhancement
