Repository dipy/dipy, pull requests merged in 2020-12, with the labels that each got.

#2289 Patch2Self: Denoising Diffusion MRI with Self-supervised Learning
  bin/dipy_denoise_patch2self
  dipy/denoise/patch2self.py
  dipy/denoise/tests/test_patch2self.py
  dipy/workflows/denoise.py
  dipy/workflows/tests/test_denoise.py
  doc/examples/denoise_patch2self.py
  doc/examples/valid_examples.txt
  doc/examples_index.rst
Labels: type:New feature

#2277 [DOC] Registration CLI
  doc/interfaces/index.rst
  doc/interfaces/registration_flow.rst
Labels: :notebook:type:Documentation :notebook:, gsod2020

#2275 [DOC]: Reconstruction CLI
  doc/interfaces/index.rst
  doc/interfaces/reconstruction_flow.rst
Labels: :notebook:type:Documentation :notebook:, gsod2020

#2278 BUAN and RB Documentation update
  dipy/data/__init__.py
  dipy/segment/bundles.py
  dipy/stats/analysis.py
  dipy/workflows/segment.py
  dipy/workflows/stats.py
  doc/examples/bundle_assignment_maps.py
  doc/examples/bundle_shape_similarity.py
  doc/examples/valid_examples.txt
  doc/examples_index.rst
  doc/interfaces/buan_flow.rst
Labels: :notebook:type:Documentation :notebook:, state: ready-to-be-merged, type:Maintenance

#2307 BUAN Documentation Typo
  doc/interfaces/buan_flow.rst
Labels: :notebook:type:Documentation :notebook:, type:Maintenance
