Repository dipy/dipy, pull requests merged in 2021-03, with the labels that each got.

#2330 [Upcoming] Release 1.4.0
  .mailmap
  Changelog
  LICENSE
  doc/api_changes.rst
  doc/conf.py
  doc/glossary.rst
  doc/index.rst
  doc/old_highlights.rst
  doc/old_news.rst
  doc/release_notes/release1.4.rst
  doc/stateoftheart.rst
Labels: type:Maintenance, type:Release plan

#2332 [FIX] fix tests for all new deprecated functions
  dipy/core/tests/test_gradients.py
  dipy/reconst/tests/test_csdeconv.py
  dipy/tracking/tests/test_metrics.py
Labels: type:Maintenance

#2335 RF: Replaces deprecated basis by its new name.
  dipy/direction/pmf.pyx
Labels: type:Enhancement

#2337 BF: Change patch2self defaults.
  dipy/denoise/patch2self.py
Labels: type:Enhancement

#1648 Mesh seeding (surface)
  dipy/data/fetcher.py
  dipy/tracking/mesh.py
  dipy/tracking/tests/test_mesh.py
  dipy/workflows/tests/test_io.py
  doc/examples/surface_seed.py
  doc/examples/valid_examples.txt
  doc/examples_index.rst
Labels: state: needs feedback, type:Enhancement

#2339 [FIX] Cleanup deprecated np.float, np.bool, np.int
  .gitignore
  dipy/align/tests/test_metrics.py
  dipy/align/tests/test_streamlinear.py
  dipy/core/gradients.py
  dipy/core/interpolation.pyx
  dipy/core/rng.py
  dipy/core/sphere_stats.py
  dipy/denoise/adaptive_soft_matching.py
  dipy/denoise/noise_estimate.py
  dipy/denoise/non_local_means.py
  dipy/denoise/patch2self.py
  dipy/direction/tests/test_peaks.py
  dipy/io/utils.py
  dipy/reconst/recspeed.pyx
  dipy/reconst/shm.py
  dipy/reconst/tests/test_multi_voxel.py
  dipy/reconst/tests/test_reco_utils.py
  dipy/segment/bundles.py
  dipy/segment/clustering.py
  dipy/segment/threshold.py
  dipy/tracking/life.py
  dipy/tracking/streamline.py
  dipy/tracking/tests/test_utils.py
  dipy/tracking/vox2track.pyx
  dipy/workflows/reconst.py
  dipy/workflows/tests/test_align.py
  doc/examples/piesno.py
  doc/examples/reconst_dsi_metrics.py
Labels: type:Maintenance
