Repository dipy/dipy, pull requests merged in 2021-04, with the labels that each got.

#2344 [FIX] Tractogram Header in RecoBundles Tutorial
  doc/examples/bundle_extraction.py
Labels: type:Maintenance

#2340 [FIX] reactivate codecov
  .coveragerc
  azure-pipelines.yml
  ci/azure/install.sh
  ci/azure/linux.yml
  ci/azure/script.sh
Labels: type:Maintenance

#2347 Replacing Data in NLMeans Tutorial
  doc/examples/denoise_nlmeans.py
Labels: type:Maintenance

#2346 [MNT] Update and fix Cython warnings and use cnp.PyArray_DATA wherever possible
  dipy/align/bundlemin.pyx
  dipy/core/interpolation.pyx
  dipy/reconst/recspeed.pyx
  dipy/tracking/distances.pyx
  dipy/tracking/localtrack.pyx
  dipy/tracking/mesh.py
  dipy/tracking/propspeed.pyx
  dipy/tracking/tests/test_mesh.py
  dipy/tracking/vox2track.pyx
  setup.py
  src/conditional_omp.h
Labels: type:Maintenance

#2350 [FIX] Use npy_intp variables instead of int and size_t to iterate over numpy arrays
  dipy/align/bundlemin.pyx
  dipy/align/crosscorr.pyx
  dipy/align/expectmax.pyx
  dipy/align/sumsqdiff.pyx
  dipy/align/vector_fields.pyx
  dipy/core/interpolation.pyx
  dipy/denoise/nlmeans_block.pyx
  dipy/direction/bootstrap_direction_getter.pyx
  dipy/direction/closest_peak_direction_getter.pyx
  dipy/direction/pmf.pyx
  dipy/direction/probabilistic_direction_getter.pyx
  dipy/reconst/eudx_direction_getter.pyx
  dipy/reconst/recspeed.pyx
  dipy/tracking/direction_getter.pyx
  dipy/tracking/distances.pyx
  dipy/tracking/localtrack.pyx
  dipy/tracking/streamlinespeed.pyx
Labels: type:Maintenance

#2349 [ENH] Allow for other statistics, like median, in afq_profile
  dipy/stats/analysis.py
  dipy/stats/tests/test_analysis.py
Labels: type:Enhancement

#2365 [DOC]: Change defaults in Patch2Self example
  doc/examples/denoise_patch2self.py
Labels: :notebook:type:Documentation :notebook:

#2363 [ENH] Adding cython file(*.pyx) in documentation
  .codecov.yml
  doc/tools/apigen.py
Labels: type:Maintenance

#2348 RF: Use new name for this function.
  dipy/direction/closest_peak_direction_getter.pyx
  dipy/direction/tests/test_bootstrap_direction_getter.py
  dipy/reconst/csdeconv.py
  dipy/reconst/forecast.py
  dipy/reconst/mapmri.py
  dipy/reconst/mcsd.py
  dipy/reconst/qtdmri.py
  dipy/reconst/shm.py
  dipy/reconst/shore.py
  dipy/reconst/tests/test_csdeconv.py
  dipy/reconst/tests/test_mcsd.py
  dipy/reconst/tests/test_shm.py
Labels: type:Maintenance

#2372 Expand patch radius if input is int
  dipy/denoise/patch2self.py
  dipy/denoise/tests/test_patch2self.py
Labels: type:Enhancement

#2373 [FIX] warning if not the same number of points
  dipy/tracking/distances.pyx
  dipy/tracking/tests/test_distances.py
  dipy/tracking/tests/test_streamline.py
Labels: type:Bug Fix

#2352 RF: configure num_threads==-1 as the value to use all cores
  dipy/align/bundlemin.pyx
  dipy/align/reslice.py
  dipy/align/streamlinear.py
  dipy/align/tests/test_reslice.py
  dipy/align/tests/test_streamlinear.py
  dipy/denoise/denspeed.pyx
  dipy/denoise/gibbs.py
  dipy/denoise/nlmeans.py
  dipy/denoise/shift_twist_convolution.pyx
  dipy/denoise/tests/test_gibbs.py
  dipy/denoise/tests/test_nlmeans.py
  dipy/direction/peaks.py
  dipy/direction/tests/test_peaks.py
  dipy/reconst/csdeconv.py
  dipy/segment/bundles.py
  dipy/tracking/fbcmeasures.pyx
  dipy/utils/multiproc.py
  dipy/utils/omp.pyx
  dipy/utils/tests/test_multiproc.py
  dipy/utils/tests/test_omp.py
  dipy/workflows/align.py
  dipy/workflows/denoise.py
  dipy/workflows/reconst.py
  doc/api_changes.rst
  doc/examples/denoise_gibbs.py
  doc/interfaces/gibbs_unringing_flow.rst
Labels: type:Enhancement

#2371 [Fix] Add "None" options in the CLIs
  dipy/workflows/base.py
  dipy/workflows/segment.py
  dipy/workflows/tests/test_iap.py
  dipy/workflows/tests/workflow_tests_utils.py
Labels: type:Enhancement

#2381 Adds the NIPY code of conduct to our repo.
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE.md
  README.rst
Labels: :notebook:type:Documentation :notebook:
