Repository dipy/dipy, pull requests merged in 2021-06, with the labels that each got.

#2407 from random to deterministic test for deform_streamlines
  dipy/tracking/tests/test_streamline.py
Labels: type:Maintenance

#2405 Small correction on KFA
  dipy/reconst/dki.py
  dipy/reconst/tests/test_dki.py
Labels: type:Enhancement

#2409 NF - Sample PMF for an input position and direction
  dipy/direction/closest_peak_direction_getter.pyx
  dipy/direction/pmf.pxd
  dipy/direction/pmf.pyx
  dipy/direction/probabilistic_direction_getter.pyx
  dipy/direction/tests/test_bootstrap_direction_getter.py
  dipy/direction/tests/test_pmf.py
  doc/api_changes.rst
Labels: type:New feature

#2410 [ENH] Improve Shore Tests
  dipy/reconst/shore.py
  dipy/reconst/tests/test_shore.py
  dipy/reconst/tests/test_shore_metrics.py
  dipy/reconst/tests/test_shore_odf.py
Labels: type:Maintenance

#2415 Implementation multi_voxel_fit progress bar
  dipy/reconst/multi_voxel.py
Labels: type:New feature
