Repository dipy/dipy, pull requests merged in 2021-05, with the labels that each got.

#2351 Updating Vec2vec_rotmat to deal with numerical issues
  README.rst
  dipy/core/geometry.py
  dipy/core/tests/test_geometry.py
Labels: type:Bug Fix

#2384 RF - Removed deprecated tracking code
  dipy/direction/closest_peak_direction_getter.pyx
  dipy/direction/tests/test_closest_peak_direction_getter.py
  dipy/reconst/peak_direction_getter.py
  dipy/reconst/tests/test_eudx_dg.py
  doc/api_changes.rst
Labels: type:Maintenance

#2385 RF: Standardize the argument name for the number of threads/cores
  dipy/denoise/gibbs.py
  dipy/denoise/tests/test_gibbs.py
  dipy/direction/peaks.py
  dipy/direction/tests/test_peaks.py
  dipy/reconst/csdeconv.py
  dipy/segment/bundles.py
  dipy/segment/tests/test_bundles.py
  dipy/workflows/denoise.py
  dipy/workflows/reconst.py
  dipy/workflows/tests/test_reconst_csa_csd.py
  doc/api_changes.rst
  doc/examples/denoise_gibbs.py
  doc/examples/reconst_csa_parallel.py
  doc/examples/reconst_csd_parallel.py
  doc/interfaces/gibbs_unringing_flow.rst
Labels: type:Enhancement

#2382 Updated docs for using P2S optimally
  dipy/denoise/patch2self.py
  doc/examples/denoise_patch2self.py
Labels: :notebook:type:Documentation :notebook:

#2375 Expanding Bundle Segmentation Tutorial
  doc/examples/bundle_assignment_maps.py
  doc/examples/bundle_extraction.py
  doc/examples/bundle_shape_similarity.py
Labels: :notebook:type:Documentation :notebook:

#2386 Adding CST_L back in Bundle Segmentation Tutorial
  doc/examples/bundle_extraction.py
Labels: :notebook:type:Documentation :notebook:, state: work-in-progress

#2387 added all examples of CST and updated AFQ file name
  doc/examples/afq_tract_profiles.py
  doc/examples/bundle_extraction.py
Labels: :notebook:type:Documentation :notebook:

#2367 [Upcoming] Release 1.4.1
  .mailmap
  AUTHOR
  Changelog
  azure-pipelines.yml
  dipy/info.py
  doc/api_changes.rst
  doc/examples/bundle_assignment_maps.py
  doc/examples/bundle_extraction.py
  doc/examples/denoise_patch2self.py
  doc/examples/segment_clustering_features.py
  doc/examples/segment_clustering_metrics.py
  doc/examples/segment_extending_clustering_framework.py
  doc/examples/segment_quickbundles.py
  doc/examples/surface_seed.py
  doc/examples/tissue_classification.py
  doc/index.rst
  doc/old_highlights.rst
  doc/old_news.rst
  doc/release_notes/release1.4.1.rst
  doc/stateoftheart.rst
Labels: type:Release plan

#2368 RF - Moved tracking.localtrack._local_tracker to DirectionGetter.generate_streamline.
  dipy/direction/closest_peak_direction_getter.pxd
  dipy/direction/closest_peak_direction_getter.pyx
  dipy/direction/probabilistic_direction_getter.pyx
  dipy/tracking/direction_getter.pxd
  dipy/tracking/direction_getter.pyx
  dipy/tracking/local_tracking.py
  dipy/tracking/localtrack.pyx
Labels: type:Enhancement
