Repository dipy/dipy, pull requests merged in 2021-07, with the labels that each got.

#2416 OPT: Prefer using a typed index to get the PMF value
  dipy/direction/pmf.pyx
Labels: type:Enhancement

#2411 [FIX] `c_compress_streamline` discard identical points
  dipy/tracking/streamlinespeed.pyx
  dipy/tracking/tests/test_streamline.py
Labels: type:Bug Fix

#2406 Manage Approx_polygon_track with repeated points
  dipy/tracking/distances.pyx
  dipy/tracking/tests/test_distances.py
Labels: type:Enhancement

#2419 Fixes the default option in the command line for Patch2Self 'ridge' -> 'ols'
  dipy/workflows/denoise.py
Labels: type:Maintenance

#2417 OPT: Initialize `Shape` struct
  dipy/segment/featurespeed.pyx
Labels: type:Maintenance

#2390 NF: extend the align workflow with Rigid+IsoScaling and Rigid+Scaling
  dipy/align/_public.py
  dipy/align/tests/test_api.py
  dipy/workflows/align.py
  dipy/workflows/tests/test_align.py
  doc/examples/affine_registration_3d.py
Labels: type:Enhancement

#2374 ROIs visualizer
  dipy/viz/app.py
  dipy/viz/gmem.py
  dipy/viz/panel.py
  dipy/viz/tests/test_apps.py
  dipy/workflows/tests/test_viz.py
  dipy/workflows/viz.py
Labels: type:New feature
