Repository dipy/dipy, pull requests merged in 2022-03, with the labels that each got.

#2551 [MNT] Update mininal dependencies version
  dipy/info.py
  requirements.txt
Labels: type:Maintenance

#2550 [ENH] Add sigma to DTI/DKI RESTORE workflow
  dipy/workflows/reconst.py
Labels: type:Enhancement

#2549 [ENH] Clarify reconst_sh tutorial
  doc/examples/reconst_sh.py
Labels: type:Maintenance

#2548 Add timeout + concurrency to GHA
  .github/workflows/test_template.yml
Labels: type:Maintenance

#2539 Adds utilities for embarassingly parallel loops.
  .github/workflows/test_optional.yml
  .github/workflows/test_parallel.yml
  dipy/utils/parallel.py
  dipy/utils/tests/test_omp.py
  dipy/utils/tests/test_parallel.py
Labels: type:New feature

#2520 Resdnn inference
  .github/workflows/coverage.yml
  dipy/data/__init__.py
  dipy/data/fetcher.py
  dipy/io/stateful_tractogram.py
  dipy/nn/histo_resdnn.py
  dipy/nn/tests/test_histo_resdnn.py
  dipy/nn/tests/test_tf.py
  dipy/workflows/tests/test_io.py
  doc/examples/histology_resdnn.py
Labels: type:New feature

#2561 [FIX] Motion correction tutorial
  dipy/reconst/csdeconv.py
  dipy/workflows/tests/test_reconst_csa_csd.py
  doc/examples/motion_correction.py
  doc/examples/reconst_csd.py
  doc/examples/reconst_rumba.py
Labels: type:Maintenance
