Repository dipy/dipy, pull requests merged in 2022-02, with the labels that each got.

#2513 [MNT] Drop distutils
  cythexts.py
  dipy/conftest.py
  dipy/nn/model.py
  dipy/nn/tests/test_tf.py
  dipy/reconst/forecast.py
  dipy/reconst/ivim.py
  dipy/reconst/mapmri.py
  dipy/reconst/mcsd.py
  dipy/reconst/qtdmri.py
  dipy/reconst/shore.py
  dipy/segment/clustering_algorithms.pyx
  dipy/segment/clusteringspeed.pyx
  dipy/segment/cythonutils.pxd
  dipy/segment/cythonutils.pyx
  dipy/segment/featurespeed.pyx
  dipy/segment/metricspeed.pyx
  dipy/testing/__init__.py
  dipy/tracking/streamlinespeed.pxd
  dipy/tracking/streamlinespeed.pyx
  dipy/viz/__init__.py
  doc/conf.py
  doc/installation.rst
  doc/tools/build_modref_templates.py
  doc/tools/docgen_cmd.py
  setup.py
  setup_helpers.py
  version_helpers.py
Labels: type:Maintenance

#2515 Default to False output for null streamlines in streamline_near_roi
  dipy/tracking/tests/test_utils.py
  dipy/tracking/utils.py
Labels: type:Enhancement

#2518 Migrations from Azure Pipeline to Github Actions
  .github/workflows/coverage.yml
  .github/workflows/test.yml
  .github/workflows/test_compat.yml
  .github/workflows/test_optional.yml
  .github/workflows/test_pre.yml
  .github/workflows/test_template.yml
  .github/workflows/test_viz.yml
  ci/azure/script.sh
  dipy/tracking/fbcmeasures.pyx
  dipy/tracking/tests/test_fbc.py
  dipy/viz/app.py
  dipy/viz/tests/test_apps.py
  dipy/workflows/tests/test_viz.py
  tools/ci/activate_env.sh
  tools/ci/archives/.travis.yml.old
  tools/ci/archives/appveyor.yml
  tools/ci/archives/azure-pipelines.yml.old
  tools/ci/archives/create_env_install_dependencies.sh
  tools/ci/archives/linux.yml
  tools/ci/archives/osx.yml
  tools/ci/archives/windows.yml
  tools/ci/deploy_doc.sh
  tools/ci/install.ps1
  tools/ci/install.sh
  tools/ci/install_dependencies.ps1
  tools/ci/install_dependencies.sh
  tools/ci/install_opengl.ps1
  tools/ci/run_tests.sh
  tools/ci/setup_headless.sh
Labels: type:Maintenance

#2423 NF: rumba reconst
  dipy/reconst/rumba.py
  dipy/reconst/tests/test_rumba.py
  doc/examples/reconst_rumba.py
  doc/examples/tracking_rumba.py
  doc/examples/valid_examples.txt
  doc/examples_index.rst
Labels: type:New feature

#2482 ENH: Improve SH bases warning messages
  dipy/direction/tests/test_prob_direction_getter.py
  dipy/reconst/shm.py
  dipy/reconst/tests/test_shm.py
Labels: type:Enhancement

#2420 Documentation corrections
  dipy/align/crosscorr.pyx
  dipy/segment/cythonutils.pyx
  dipy/tracking/distances.pyx
  dipy/tracking/utils.py
  doc/examples/denoise_gibbs.py
  doc/examples/denoise_localpca.py
  doc/examples/denoise_mppca.py
  doc/examples/denoise_nlmeans.py
  doc/examples/denoise_patch2self.py
  doc/examples/fiber_to_bundle_coherence.py
  doc/examples/reconst_csd.py
  doc/examples/reconst_dsi.py
  doc/examples/reconst_dsi_metrics.py
  doc/examples/reconst_dsid.py
  doc/examples/segment_clustering_features.py
  doc/examples/segment_clustering_metrics.py
  doc/examples/segment_extending_clustering_framework.py
  doc/examples/segment_quickbundles.py
  doc/examples/streamline_formats.py
  doc/examples/streamline_length.py
  doc/examples/streamline_tools.py
  doc/examples/tissue_classification.py
  doc/examples/tracking_introduction_eudx.py
  doc/examples/viz_bundles.py
  doc/examples/viz_slice.py
  doc/examples/workflow_creation.py
Labels: :notebook:type:Documentation :notebook:

#2521 DOC: Use GitHub actions status badge in README
  README.rst
Labels: type:Maintenance

#2522 ENH: Miscellaneous cleanup
  dipy/denoise/tests/test_kernel.py
  dipy/direction/peaks.py
  dipy/direction/tests/test_pmf.py
  dipy/reconst/forecast.py
  dipy/reconst/mapmri.py
  dipy/reconst/qtdmri.py
  dipy/reconst/tests/test_cross_validation.py
  dipy/reconst/tests/test_csdeconv.py
  dipy/reconst/tests/test_shore_metrics.py
Labels: type:Maintenance

#2528 TEST: Remove legacy `nose`-related dead testing code
  dipy/align/tests/test_reslice.py
  dipy/align/tests/test_streamlinear.py
  dipy/align/tests/test_whole_brain_slr.py
  dipy/core/tests/test_geometry.py
  dipy/core/tests/test_interpolation.py
  dipy/core/tests/test_optimize.py
  dipy/core/tests/test_sphere.py
  dipy/denoise/tests/test_ascm.py
  dipy/denoise/tests/test_kernel.py
  dipy/denoise/tests/test_lpca.py
  dipy/denoise/tests/test_nlmeans.py
  dipy/denoise/tests/test_non_local_means.py
  dipy/direction/tests/test_bootstrap_direction_getter.py
  dipy/direction/tests/test_peaks.py
  dipy/direction/tests/test_pmf.py
  dipy/io/tests/test_dpy.py
  dipy/io/tests/test_io_peaks.py
  dipy/io/tests/test_stateful_tractogram.py
  dipy/io/tests/test_streamline.py
  dipy/reconst/tests/test_cache.py
  dipy/reconst/tests/test_csdeconv.py
  dipy/reconst/tests/test_dsi.py
  dipy/reconst/tests/test_dsi_deconv.py
  dipy/reconst/tests/test_dsi_metrics.py
  dipy/reconst/tests/test_eudx_dg.py
  dipy/reconst/tests/test_forecast.py
  dipy/reconst/tests/test_gqi.py
  dipy/reconst/tests/test_ivim.py
  dipy/reconst/tests/test_mapmri.py
  dipy/reconst/tests/test_odf.py
  dipy/reconst/tests/test_peak_finding.py
  dipy/reconst/tests/test_rumba.py
  dipy/reconst/tests/test_shm.py
  dipy/reconst/tests/test_utils.py
  dipy/segment/tests/test_adjustment.py
  dipy/segment/tests/test_bundles.py
  dipy/segment/tests/test_feature.py
  dipy/segment/tests/test_mask.py
  dipy/segment/tests/test_metric.py
  dipy/segment/tests/test_mrf.py
  dipy/segment/tests/test_qbx.py
  dipy/segment/tests/test_quickbundles.py
  dipy/sims/tests/test_phantom.py
  dipy/stats/tests/test_analysis.py
  dipy/tracking/tests/test_propagation.py
  dipy/tracking/tests/test_stopping_criterion.py
  dipy/tracking/tests/test_tracking.py
  dipy/utils/tests/test_multiproc.py
  dipy/utils/tests/test_omp.py
  dipy/workflows/tests/test_align.py
  dipy/workflows/tests/test_docstring_parser.py
  dipy/workflows/tests/test_segment.py
  dipy/workflows/tests/test_stats.py
Labels: type:Maintenance

#2532 STYLE: Remove unused import statements
  dipy/data/__init__.py
  dipy/denoise/shift_twist_convolution.pyx
  dipy/tracking/_utils.py
Labels: type:Maintenance

#2534 TEST: Remove unnecessary `main` method definition in tests
  dipy/align/tests/test_crosscorr.py
  dipy/align/tests/test_expectmax.py
  dipy/align/tests/test_metrics.py
  dipy/align/tests/test_sumsqdiff.py
  dipy/align/tests/test_transforms.py
  dipy/core/tests/test_rng.py
  dipy/nn/tests/test_tf.py
  dipy/sims/tests/test_voxel.py
  dipy/testing/tests/test_testing.py
  dipy/tracking/tests/test_fbc.py
  dipy/viz/tests/test_apps.py
  dipy/workflows/tests/test_denoise.py
  dipy/workflows/tests/test_iap.py
  dipy/workflows/tests/test_io.py
  dipy/workflows/tests/test_masking.py
  dipy/workflows/tests/test_reconst_csa_csd.py
  dipy/workflows/tests/test_reconst_dki.py
  dipy/workflows/tests/test_reconst_dti.py
  dipy/workflows/tests/test_reconst_ivim.py
  dipy/workflows/tests/test_reconst_mapmri.py
  dipy/workflows/tests/test_tracking.py
  dipy/workflows/tests/test_viz.py
  dipy/workflows/tests/test_workflow.py
Labels: type:Maintenance

#2526 TEST: Filter legacy SH bases warnings in tests
  dipy/denoise/tests/test_kernel.py
  dipy/direction/tests/test_bootstrap_direction_getter.py
  dipy/direction/tests/test_peaks.py
  dipy/direction/tests/test_pmf.py
  dipy/reconst/forecast.py
  dipy/reconst/shore.py
  dipy/reconst/tests/test_cross_validation.py
  dipy/reconst/tests/test_csdeconv.py
  dipy/reconst/tests/test_eudx_dg.py
  dipy/reconst/tests/test_forecast.py
  dipy/reconst/tests/test_mapmri.py
  dipy/reconst/tests/test_mcsd.py
  dipy/reconst/tests/test_qtdmri.py
  dipy/reconst/tests/test_rumba.py
  dipy/reconst/tests/test_shore.py
  dipy/reconst/tests/test_shore_metrics.py
  dipy/reconst/tests/test_shore_odf.py
  dipy/tracking/tests/test_tracking.py
  dipy/viz/tests/test_fury.py
  dipy/workflows/tests/test_reconst_csa_csd.py
  dipy/workflows/tests/test_tracking.py
Labels: type:Maintenance

#2512 Masking for affine registration
  dipy/align/_public.py
  dipy/align/imaffine.py
  dipy/align/scalespace.py
  dipy/align/tests/test_imaffine.py
  doc/examples/affine_registration_masks.py
  doc/examples/valid_examples.txt
  doc/examples_index.rst
Labels: type:Enhancement

#2342 NF: q-space trajectory imaging
  dipy/data/__init__.py
  dipy/data/fetcher.py
  dipy/reconst/qti.py
  dipy/reconst/tests/test_qti.py
  dipy/workflows/tests/test_io.py
  doc/examples/reconst_qti.py
  doc/examples/valid_examples.txt
  doc/examples_index.rst
Labels: type:New feature

#2536 Random colors fix in horizon
  dipy/workflows/tests/test_iap.py
  dipy/workflows/tests/workflow_tests_utils.py
  dipy/workflows/viz.py
Labels: type:Enhancement
