Repository dipy/dipy, pull requests merged in 2022-05, with the labels that each got.

#2579 Generalized PCA to less than 3 spatial dims
  dipy/denoise/localpca.py
  dipy/denoise/pca_noise_estimate.pyx
  dipy/denoise/tests/test_lpca.py
Labels: type:Enhancement

#2591 STYLE: Avoid array-like mutable default argument values
  dipy/align/streamlinear.py
  dipy/align/tests/test_streamlinear.py
  dipy/core/graph.py
  dipy/core/sphere.py
  dipy/data/fetcher.py
  dipy/denoise/patch2self.py
  dipy/direction/bootstrap_direction_getter.pyx
  dipy/direction/closest_peak_direction_getter.pyx
  dipy/nn/model.py
  dipy/reconst/ivim.py
  dipy/reconst/mcsd.py
  dipy/reconst/sfm.py
  dipy/segment/bundles.py
  dipy/sims/voxel.py
  dipy/tracking/life.py
  dipy/tracking/stopping_criterion.pyx
  dipy/tracking/utils.py
  dipy/tracking/vox2track.pyx
  dipy/utils/parallel.py
  dipy/workflows/align.py
  dipy/workflows/base.py
  dipy/workflows/reconst.py
  dipy/workflows/stats.py
  dipy/workflows/tests/test_reconst_dti.py
Labels: type:Maintenance

#2595 Temporary skip Cython 0.29.29
  .github/workflows/test_compat.yml
  .github/workflows/test_template.yml
  requirements.txt
Labels: type:Maintenance

#2577 Add positivity constraints to QTI
  dipy/data/__init__.py
  dipy/data/fetcher.py
  dipy/reconst/qti.py
  dipy/reconst/tests/test_qti.py
  dipy/viz/plotting.py
  dipy/workflows/tests/test_io.py
  doc/examples/reconst_qtiplus.py
  doc/examples/valid_examples.txt
  doc/examples_index.rst
  doc/reconstruction_models_list.rst
Labels: type:Enhancement, type:New feature

#2531 NF: MAP+ constraints
  dipy/core/optimize.py
  dipy/data/__init__.py
  dipy/data/files/hermite_constraint_0.npz
  dipy/data/files/hermite_constraint_10.npz
  dipy/data/files/hermite_constraint_2.npz
  dipy/data/files/hermite_constraint_4.npz
  dipy/data/files/hermite_constraint_6.npz
  dipy/data/files/hermite_constraint_8.npz
  dipy/reconst/mapmri.py
  dipy/reconst/tests/test_mapmri.py
  dipy/viz/plotting.py
  doc/examples/reconst_mapmri.py
Labels: type:Enhancement
