Repository dipy/dipy, pull requests merged in 2023-12, with the labels that each got.

#2988 STYLE: Remove unused import in `dipy/core/gradients.py`
  dipy/core/gradients.py
Labels: type:Maintenance

#2984 DOC: Miscellaneous documentation improvements
  dipy/align/streamwarp.py
  dipy/stats/analysis.py
Labels: :notebook:type:Documentation :notebook:

#2990 STYLE: Use `.astype()` on uninitialized array casting
  dipy/align/tests/test_parzenhist.py
Labels: type:Maintenance

#2987 STYLE: Make `cvxpy`-dependent test checking consistent in `test_mcsd`
  dipy/reconst/tests/test_mcsd.py
Labels: type:Maintenance

#2991 MTN: fix byte swap ordering for numpy 2.0
  dipy/testing/decorators.py
  dipy/utils/arrfuncs.py
  dipy/utils/tests/test_arrfuncs.py
Labels: type:Maintenance

#2997 TEST: Filter warning about resorting to `OLS` fitting method
  dipy/reconst/dti.py
  dipy/reconst/tests/test_dti.py
Labels: type:Maintenance

#3000 RF: Prefer raising `sklearn` package warnings when required
  dipy/denoise/patch2self.py
  dipy/denoise/tests/test_patch2self.py
  dipy/reconst/sfm.py
  dipy/reconst/tests/test_sfm.py
Labels: type:Maintenance

#3001 RF: Create PCA denoising utils methods
  dipy/denoise/localpca.py
  dipy/denoise/tests/test_lpca.py
Labels: type:Maintenance

#2998 TEST: Filter SciPy 0.18.0 1-D affine transform array warning in test
  dipy/nn/tests/test_utils.py
Labels: type:Maintenance

#2995 [MTN] remove custom module `_importlib`
  dipy/utils/_importlib.py
  dipy/utils/meson.build
  dipy/utils/optpkg.py
Labels: type:Maintenance

#2996 RF: Fix b0 threshold warnings
  dipy/core/gradients.py
  dipy/core/tests/test_gradients.py
  dipy/reconst/tests/test_ivim.py
  dipy/workflows/align.py
  dipy/workflows/reconst.py
  dipy/workflows/tests/test_reconst_dki.py
Labels: type:Maintenance

#3004 TEST: Check and filter PCA dimensionality problem warning
  dipy/denoise/tests/test_lpca.py
Labels: type:Maintenance

#3002 [RF] Improve scripts and import management
  bin/dipy_align_affine
  bin/dipy_align_syn
  bin/dipy_apply_transform
  bin/dipy_buan_lmm
  bin/dipy_buan_profiles
  bin/dipy_buan_shapes
  bin/dipy_bundlewarp
  bin/dipy_correct_motion
  bin/dipy_denoise_lpca
  bin/dipy_denoise_mppca
  bin/dipy_denoise_nlmeans
  bin/dipy_denoise_patch2self
  bin/dipy_evac_plus
  bin/dipy_fetch
  bin/dipy_fit_csa
  bin/dipy_fit_csd
  bin/dipy_fit_dki
  bin/dipy_fit_dti
  bin/dipy_fit_ivim
  bin/dipy_fit_mapmri
  bin/dipy_gibbs_ringing
  bin/dipy_horizon
  bin/dipy_info
  bin/dipy_labelsbundles
  bin/dipy_mask
  bin/dipy_median_otsu
  bin/dipy_recobundles
  bin/dipy_reslice
  bin/dipy_slr
  bin/dipy_snr_in_cc
  bin/dipy_split
  bin/dipy_track
  bin/dipy_track_pft
  dipy/stats/analysis.py
  dipy/stats/tests/test_analysis.py
  dipy/viz/horizon/app.py
  dipy/viz/tests/meson.build
  dipy/viz/tests/test_apps.py
  dipy/viz/tests/test_viz_import.py
  dipy/workflows/cli.py
  dipy/workflows/stats.py
  dipy/workflows/tests/test_stats.py
  doc/doc-requirements.txt
  pyproject.toml
Labels: type:Enhancement

#3006 [NF] Introduce minimum version in `optional_package`
  dipy/core/profile.py
  dipy/utils/optpkg.py
  dipy/utils/tests/meson.build
  dipy/utils/tests/test_optpkg.py
  dipy/viz/__init__.py
Labels: type:New feature

#3007 [RF] Define minimum version for some optional packages
  dipy/core/optimize.py
  dipy/denoise/gibbs.py
  dipy/io/tests/test_stateful_tractogram.py
  dipy/io/tests/test_streamline.py
  dipy/io/vtk.py
  dipy/nn/cnn_1d_denoising.py
  dipy/nn/evac.py
  dipy/nn/histo_resdnn.py
  dipy/nn/model.py
  dipy/nn/synb0.py
  dipy/nn/tests/test_cnn_1denoiser.py
  dipy/nn/tests/test_evac.py
  dipy/nn/tests/test_histo_resdnn.py
  dipy/nn/tests/test_synb0.py
  dipy/nn/tests/test_tf.py
  dipy/reconst/forecast.py
  dipy/reconst/ivim.py
  dipy/reconst/mapmri.py
  dipy/reconst/mcsd.py
  dipy/reconst/qtdmri.py
  dipy/reconst/qti.py
  dipy/reconst/shore.py
  dipy/reconst/tests/test_dki.py
  dipy/reconst/tests/test_forecast.py
  dipy/reconst/tests/test_ivim.py
  dipy/reconst/tests/test_mapmri.py
  dipy/reconst/tests/test_mcsd.py
  dipy/reconst/tests/test_qtdmri.py
  dipy/reconst/tests/test_qti.py
  dipy/reconst/tests/test_shore.py
  dipy/stats/analysis.py
  dipy/viz/__init__.py
  dipy/viz/horizon/app.py
  dipy/viz/horizon/tab/base.py
  dipy/viz/horizon/tab/cluster.py
  dipy/viz/horizon/tab/peak.py
  dipy/viz/horizon/tab/roi.py
  dipy/viz/horizon/tab/slice.py
  dipy/viz/horizon/tab/tests/test_base.py
  dipy/viz/horizon/visualizer/cluster.py
  dipy/viz/horizon/visualizer/slice.py
  dipy/viz/panel.py
  dipy/viz/streamline.py
  dipy/viz/tests/test_apps.py
  dipy/viz/tests/test_fury.py
  dipy/viz/tests/test_streamline.py
  dipy/workflows/tests/test_nn.py
  dipy/workflows/tests/test_stats.py
  dipy/workflows/tests/test_viz.py
  dipy/workflows/viz.py
Labels: type:Maintenance

#2989 BF: Mask `1` values in leveraged, residual matrix computation
  dipy/reconst/shm.py
Labels: type:Maintenance

#2943 BF: Fix bundlewarp shape analysis profile values for all `False` mask
  dipy/align/streamwarp.py
Labels: type:Maintenance

#2999 TEST: Set explicitly `CLARABEL` as the CVXPY solver
  dipy/reconst/tests/test_dki.py
Labels: type:Maintenance

#3009 [DOC] Update installation instruction [ci skip]
  .gitignore
  dipy/workflows/cli.py
  doc/conf.py
  doc/context/documentation.json
  doc/devel/coding_style_guideline.rst
  doc/devel/commit_codes.rst
  doc/devel/gitwash/git_install.rst
  doc/devel/index.rst
  doc/devel/installation_from_source.rst
  doc/devel/make_release.rst
  doc/devel/toolchain.rst
  doc/examples/combined_workflow_creation.py
  doc/examples/viz_bundles.py
  doc/examples/workflow_creation.py
  doc/index.rst
  doc/links_names.inc
  doc/old_highlights.rst
  doc/recipes.rst
  doc/sphinxext/jinja.py
  doc/sphinxext/prepare_gallery.py
  doc/tools/apigen.py
  doc/tools/build_modref_templates.py
  doc/tools/docgen_cmd.py
  doc/user_guide/dependencies.rst
  doc/user_guide/installation.rst
  tools/osxbuild.py
Labels: :notebook:type:Documentation :notebook:

#2911 [UPCOMING] Release 1.8.0
  .mailmap
  AUTHOR
  Changelog
  Makefile
  README.rst
  doc/conf.py
  doc/devel/make_release.rst
  doc/index.rst
  doc/links_names.inc
  doc/old_highlights.rst
  doc/old_news.rst
  doc/release_notes/release1.8.rst
  doc/stateoftheart.rst
  tools/github_stats.py
Labels: type:Release plan

#3014 Update release1.8.rst
  doc/release_notes/release1.8.rst
Labels: :notebook:type:Documentation :notebook:

#3012 DOC: Document observance for Scientific Python min supported versions
  README.rst
  doc/links_names.inc
  doc/user_guide/dependencies.rst
Labels: :notebook:type:Documentation :notebook:

#3013 Added Fibonacci spiral and test for it
  dipy/core/sphere.py
  dipy/core/tests/test_sphere.py
Labels: type:New feature

#3022 [DOC] Fix logo size and link [ci skip]
  doc/_static/css/common/override.css
  doc/_static/css/dipy.css
  doc/_static/version_switcher.json
  doc/conf.py
Labels: :notebook:type:Documentation :notebook:
