Repository dipy/dipy, pull requests merged in 2023-03, with the labels that each got.

#2733 Update SynRegistrationFlow for #2648
  dipy/workflows/align.py
Labels: type:Enhancement

#2590 Fast Streamline Search algorithm implementation
  dipy/segment/fss.py
  dipy/segment/metric.py
  dipy/segment/tests/test_fss.py
  dipy/segment/tests/test_metric.py
  doc/examples/fast_streamline_search.py
  doc/examples/valid_examples.txt
Labels: type:New feature, state: needs code review

#2741 Fixing solve_qp error
  dipy/reconst/mcsd.py
Labels: type:Maintenance

#2722 fixed pca for features > samples, and fixed pca_noise_estimate
  dipy/denoise/localpca.py
  dipy/denoise/pca_noise_estimate.pyx
  dipy/denoise/tests/test_lpca.py
  dipy/denoise/tests/test_noise_estimate.py
  doc/api_changes.rst
Labels: type:Enhancement, state: ready-to-be-merged

#2753 Update adaptive_soft_matching.py
  dipy/denoise/adaptive_soft_matching.py
Labels: type:Enhancement

#2751 [ENH] Asymmetric peak_directions
  dipy/direction/peaks.py
  dipy/direction/tests/test_peaks.py
  dipy/reconst/recspeed.pyx
Labels: type:Enhancement, state: ready-to-be-merged
