Repository dipy/dipy, pull requests merged in 2023-08, with the labels that each got.

#2832 BundleWarp: added tutorial and fixed a small bug
  dipy/align/streamwarp.py
  doc/interfaces/index.rst
Labels: :notebook:type:Documentation :notebook:, type:Maintenance

#2840 Shilpi's Week6 Blog
  doc/posts/2023/2023_07_06_shilpi_week6.rst
Labels: :notebook:type:Documentation :notebook:

#2833 Pushing 4thBlog
  doc/posts/2023/2023_06_19_Shilpi_week4.rst
Labels: :notebook:type:Documentation :notebook:

#2831 Vara's week 4 blog
  doc/posts/2023/2023_06_19_vara_week4.rst
Labels: :notebook:type:Documentation :notebook:

#2860 Updates HCP fetcher dataset_description to be compatible with current BIDS
  dipy/data/fetcher.py
Labels: type:Enhancement

#2828 Vara's week 3 blog
  doc/_static/vq-vae-results.png
  doc/posts/2023/2023_06_12_vara_week3.rst
Labels: :notebook:type:Documentation :notebook:

#2829 Pushing 3rd blog
  doc/posts/2023/2023_06_13_Shipi_week3.rst
Labels: :notebook:type:Documentation :notebook:

#2835 Vara's week 5 blog
  doc/_static/DM-MNIST-112epoch.png
  doc/_static/DM-MNIST-DDIM300-108epoch.png
  doc/posts/2023/2023_06_26_vara_week5.rst
Labels: :notebook:type:Documentation :notebook:

#2841 Vara's Week 6 & Week 7 blog
  doc/_static/dm3d-reconst-D200-D300.png
  doc/_static/dm3d-training-curves.png
  doc/_static/vqvae-f3-higher-epochs.png
  doc/_static/vqvae3d-reconst-f2.png
  doc/_static/vqvae3d-reconst-f3.png
  doc/_static/vqvae3d-training-curves.png
  doc/posts/2023/2023_07_10_vara_week6_and_week7.rst
Labels: :notebook:type:Documentation :notebook:

#2843 Pushing 7th_blog
  doc/posts/2023/2023_07_12_Shilpi_week7.rst
Labels: :notebook:type:Documentation :notebook:

#2806 BF - initial backward orientation of local tracking
  dipy/direction/pmf.pyx
  dipy/direction/probabilistic_direction_getter.pxd
  dipy/direction/probabilistic_direction_getter.pyx
  dipy/tracking/local_tracking.py
  dipy/tracking/localtrack.pyx
  dipy/tracking/tests/test_tracking.py
  dipy/utils/fast_numpy.pxd
  dipy/utils/fast_numpy.pyx
Labels: type:Bug Fix

#2847 Pushing Week 8 + 9 blog
  doc/posts/2023/2023_07_27_Shilpi_week_8_9.rst
Labels: :notebook:type:Documentation :notebook:

#2849 Shilpi's 10th Blog
  doc/posts/2023/2023_07_31_Shilpi_week10.rst
Labels: :notebook:type:Documentation :notebook:

#2856 Adding Week 11 Blog
  doc/posts/2023/2023_08_08_Shilpi_week11.rst
Labels: :notebook:type:Documentation :notebook:

#2863 Shilpi's Week12 Blog.
  doc/posts/2023/2023_08_15_Shilpi_week12.rst
Labels: :notebook:type:Documentation :notebook:

#2846 Vara's Week 8 & Week 9 blog
  doc/_static/vqvae3d-monai-B10-ICNR.png
  doc/_static/vqvae3d-monai-B10.png
  doc/_static/vqvae3d-monai-B5.png
  doc/_static/vqvae3d-monai-training.png
  doc/posts/2023/2023_07_24_vara_week_8_9.rst
Labels: :notebook:type:Documentation :notebook:

#2821 NF - added pft min wm parameter
  dipy/tracking/local_tracking.py
  dipy/tracking/localtrack.pyx
  dipy/tracking/stopping_criterion.pyx
  dipy/tracking/tests/test_tracking.py
  dipy/workflows/tracking.py
  doc/examples/tracking_pft.py
Labels: type:New feature

#2730 Fix weighted Jacobians, return extra fit data, add adjacency function
  dipy/reconst/dki.py
  dipy/reconst/dki_micro.py
  dipy/reconst/dti.py
  dipy/reconst/tests/test_dti.py
  dipy/utils/tests/test_volume.py
  dipy/utils/volume.py
Labels: type:New feature

#2804 Adding diffusion data descriptions from references to reconstruction table
  doc/reconstruction_models_list.rst
Labels: :notebook:type:Documentation :notebook:

#2879 Add fetcher for a sample CTI dataset
  dipy/data/fetcher.py
  dipy/workflows/tests/test_io.py
Labels: type:Enhancement
