Repository dipy/dipy, pull requests merged in 2023-09, with the labels that each got.

#2875 Increased PTT performances
  dipy/direction/pmf.pxd
  dipy/direction/pmf.pyx
  dipy/direction/probabilistic_direction_getter.pyx
  dipy/direction/ptt_direction_getter.pyx
  dipy/direction/tests/test_pmf.py
  dipy/utils/fast_numpy.pxd
  dipy/utils/fast_numpy.pyx
  dipy/utils/tests/test_fast_numpy.py
Labels: type:Enhancement

#2885 [ENH] Add minimum length to streamline generator
  dipy/direction/tests/test_ptt_direction_getter.py
  dipy/tracking/local_tracking.py
  dipy/tracking/tests/test_tracking.py
Labels: type:Enhancement

#2814 [Fix] Horizon: Binary image loading
  dipy/viz/horizon/app.py
  dipy/viz/tests/test_apps.py
Labels: type:Bug Fix

#2898 Remove zip operation in transform_tracking_output
  dipy/tracking/utils.py
Labels: type:Enhancement

#2891 Apply pyupgrade suggestions
  dipy/align/__init__.py
  dipy/core/interpolation.pyx
  dipy/core/ndindex.py
  dipy/core/sphere.py
  dipy/core/tests/test_interpolation.py
  dipy/core/tests/test_sphere.py
  dipy/denoise/gibbs.py
  dipy/denoise/nlmeans.py
  dipy/denoise/noise_estimate.py
  dipy/denoise/non_local_means.py
  dipy/direction/__init__.py
  dipy/io/bvectxt.py
  dipy/io/dpy.py
  dipy/io/image.py
  dipy/io/peaks.py
  dipy/io/tests/test_dpy.py
  dipy/io/tests/test_io_peaks.py
  dipy/io/vtk.py
  dipy/pkg_info.py
  dipy/reconst/forecast.py
  dipy/reconst/odf.py
  dipy/reconst/shore.py
  dipy/reconst/tests/test_multi_voxel.py
  dipy/segment/fss.py
  dipy/segment/mask.py
  dipy/segment/metric.py
  dipy/segment/tests/test_clustering.py
  dipy/segment/tests/test_fss.py
  dipy/sims/tests/test_phantom.py
  dipy/stats/analysis.py
  dipy/tracking/mesh.py
  dipy/tracking/propspeed.pyx
  dipy/tracking/tests/test_distances.py
  dipy/tracking/tests/test_mesh.py
  dipy/tracking/tests/test_stopping_criterion.py
  dipy/tracking/tests/test_streamline.py
  dipy/tracking/tests/test_track_volumes.py
  dipy/viz/tests/test_viz_import.py
  dipy/workflows/align.py
  dipy/workflows/combined_workflow.py
  dipy/workflows/denoise.py
  dipy/workflows/flow_runner.py
  dipy/workflows/reconst.py
  dipy/workflows/stats.py
  dipy/workflows/workflow.py
  doc/conf.py
  doc/examples/motion_correction.py
  doc/examples/viz_slice.py
  doc/sphinxext/prepare_gallery.py
  tools/ex2rst
  tools/github_stats.py
  tools/make_examples.py
Labels: type:Maintenance

#2899 DOC: Fix typos newly found by codespell
  dipy/denoise/nlmeans_block.pyx
  doc/release_notes/release1.1.rst
Labels: type:Maintenance

#2904 Apply refurb suggestions
  dipy/align/_public.py
  dipy/align/streamlinear.py
  dipy/core/gradients.py
  dipy/core/profile.py
  dipy/data/fetcher.py
  dipy/denoise/adaptive_soft_matching.py
  dipy/direction/peaks.py
  dipy/io/stateful_tractogram.py
  dipy/reconst/forecast.py
  dipy/reconst/mapmri.py
  dipy/reconst/msdki.py
  dipy/reconst/qtdmri.py
  dipy/reconst/qti.py
  dipy/reconst/sfm.py
  dipy/reconst/tests/test_qti.py
  dipy/segment/clustering.py
  dipy/tracking/local_tracking.py
  dipy/tracking/streamline.py
  dipy/tracking/tests/test_tracking.py
  dipy/tracking/utils.py
  dipy/viz/horizon/app.py
  dipy/workflows/base.py
  dipy/workflows/tests/test_align.py
  dipy/workflows/tests/test_reconst_dki.py
  dipy/workflows/tests/test_reconst_dti.py
  doc/examples/affine_registration_masks.py
  doc/sphinxext/github.py
  doc/upload_docs.py
  tools/github_stats.py
  tools/pack_examples.py
Labels: type:Maintenance

#2902 Short import for horizon
  dipy/viz/__init__.py
  dipy/viz/tests/test_apps.py
  dipy/workflows/viz.py
Labels: type:Enhancement

#2912 MAINT: the symbol for second is s, not sec.
  dipy/segment/bundles.py
  dipy/segment/clustering.py
Labels: type:Maintenance

#2816 Correlation Tensor Imaging
  dipy/reconst/cti.py
  dipy/reconst/dki.py
  dipy/reconst/tests/test_cti.py
  dipy/reconst/utils.py
  doc/examples/reconst_cti.py
Labels: state: work-in-progress

#2914 GitHub Actions
  .github/dependabot.yml
  .github/workflows/codespell.yml
  .github/workflows/test_template.yml
Labels: type:Maintenance

#2915 DOC: http:// → https://
  .github/CONTRIBUTING.md
  dipy/__init__.py
  dipy/core/geometry.py
  dipy/core/interpolation.pyx
  dipy/core/onetime.py
  dipy/core/profile.py
  dipy/core/rng.py
  dipy/core/sphere_stats.py
  dipy/core/wavelet.py
  dipy/data/fetcher.py
  dipy/info.py
  dipy/reconst/cross_validation.py
  dipy/reconst/dki.py
  dipy/reconst/dti.py
  dipy/reconst/forecast.py
  dipy/reconst/mapmri.py
  dipy/reconst/qtdmri.py
  dipy/reconst/shore.py
  dipy/reconst/tests/test_shm.py
  dipy/segment/clusteringspeed.pyx
  dipy/tracking/distances.pyx
  dipy/tracking/mesh.py
  dipy/tracking/metrics.py
  doc/_templates/layout.html
  doc/cite.rst
  doc/conf.py
  doc/dataset_list.rst
  doc/devel/coding_style_guideline.rst
  doc/devel/gitwash/development_workflow.rst
  doc/devel/intro.rst
  doc/devel/python3.rst
  doc/examples/linear_fascicle_evaluation.py
  doc/examples/reconst_dki.py
  doc/examples/segment_extending_clustering_framework.py
  doc/examples/segment_quickbundles.py
  doc/faq.rst
  doc/gimbal_lock.rst
  doc/old_news.rst
  doc/theory/spherical.rst
  setup_helpers.py
  tools/ci/archives/appveyor.yml
  tools/ci/install_opengl.ps1
  tools/run_with_env.cmd
Labels: :notebook:type:Documentation :notebook:

#2906 [FIX] Pin scipy for the conda failing CI's
  .github/workflows/test_optional.yml
  dipy/reconst/dti.py
Labels: type:Maintenance
