Repository dipy/dipy, pull requests merged in 2023-04, with the labels that each got.

#2626 Adding Synb0
  .github/workflows/coverage.yml
  dipy/data/__init__.py
  dipy/data/fetcher.py
  dipy/info.py
  dipy/nn/synb0.py
  dipy/nn/tests/test_synb0.py
  dipy/workflows/tests/test_io.py
Labels: type:New feature

#2767 NF - add utility functions to fast_numpy
  dipy/utils/fast_numpy.pxd
  dipy/utils/fast_numpy.pyx
  dipy/utils/tests/test_fast_numpy.py
Labels: type:New feature

#2782 [MTN] Fix CI codecov upload
  .github/workflows/test_template.yml
  dipy/info.py
  dipy/viz/tests/test_apps.py
  tools/ci/archives/.travis.yml.old
  tools/ci/archives/appveyor.yml
  tools/ci/archives/create_env_install_dependencies.sh
  tools/ci/install_dependencies.sh
  tools/ci/run_tests.sh
Labels: type:Maintenance

#2783 Fix test_roi_images
  dipy/viz/tests/test_apps.py
Labels: type:Maintenance

#2740 Integration of Denoising Method for DWI with 1D CNN
  dipy/nn/cnn_1d_denoising.py
  dipy/nn/tests/test_cnn_1denoiser.py
Labels: type:New feature

#2596 NF - Parallel Transport Tractography (PTT)
  dipy/data/__init__.py
  dipy/data/fetcher.py
  dipy/direction/__init__.py
  dipy/direction/probabilistic_direction_getter.pxd
  dipy/direction/probabilistic_direction_getter.pyx
  dipy/direction/ptt_direction_getter.pyx
  dipy/direction/tests/test_ptt_direction_getter.py
  dipy/tracking/tests/test_tracking.py
  dipy/workflows/tests/test_io.py
  doc/examples/tracking_ptt.py
  setup.py
Labels: type:New feature

#2609 NF: DKI+ constraints
  dipy/core/optimize.py
  dipy/data/files/dki_constraint.npz
  dipy/data/files/dki_constraint_0.npz
  dipy/data/files/dki_constraint_2.npz
  dipy/data/files/dki_constraint_4.npz
  dipy/reconst/dki.py
  dipy/reconst/dki_micro.py
  dipy/reconst/tests/test_dki.py
  dipy/reconst/utils.py
  dipy/viz/plotting.py
  doc/examples/reconst_dki.py
Labels: type:New feature

#2540 Updates the default value of rm_small_clusters variable in slr_with_qbx function
  dipy/align/streamlinear.py
  dipy/align/tests/test_whole_brain_slr.py
Labels: type:Maintenance

#2785 EVAC+ workflow
  bin/dipy_evac_plus
  dipy/workflows/segment.py
  dipy/workflows/tests/test_segment.py
Labels: type:Enhancement

#2749 adding a new getitem method
  dipy/core/gradients.py
  dipy/core/tests/test_gradients.py
Labels: type:Enhancement

#2768 BundleWarp, streamline-based nonlinear registration of white matter tracts
  .github/workflows/coverage.yml
  bin/dipy_bundlewarp
  dipy/__init__.py
  dipy/align/cpd.py
  dipy/align/streamwarp.py
  dipy/align/tests/test_streamwarp.py
  dipy/viz/plotting.py
  dipy/viz/streamline.py
  dipy/viz/tests/test_streamline.py
  dipy/workflows/align.py
  dipy/workflows/tests/test_align.py
  doc/examples/bundlewarp_registration.py
  doc/examples_index.rst
  doc/interfaces/bundlewarp_registration_flow.rst
  requirements.txt
Labels: type:Enhancement, type:New feature, state: ready-to-be-merged

#2788 Remove NoseTester
  dipy/__init__.py
  dipy/core/__init__.py
  dipy/core/tests/__init__.py
  dipy/denoise/__init__.py
  dipy/io/tests/__init__.py
  dipy/nn/__init__.py
  dipy/reconst/__init__.py
  dipy/sims/tests/__init__.py
  dipy/tracking/__init__.py
  dipy/tracking/tests/__init__.py
  dipy/viz/tests/__init__.py
  dipy/workflows/io.py
  dipy/workflows/tests/__init__.py
  dipy/workflows/tests/test_io.py
Labels: type:Maintenance

#2765 Sphinx-gallery integration
  .gitignore
  dipy/data/__init__.py
  dipy/data/fetcher.py
  dipy/nn/cnn_1d_denoising.py
  dipy/viz/streamline.py
  dipy/workflows/tests/test_io.py
  doc/Makefile
  doc/_templates/layout.html
  doc/conf.py
  doc/doc-requirements.txt
  doc/documentation.rst
  doc/examples/_valid_examples.toml
  doc/examples/affine_registration_masks.py
  doc/examples/afq_tract_profiles.py
  doc/examples/bundlewarp_registration.py
  doc/examples/combined_workflow_creation.py
  doc/examples/contextual_enhancement.py
  doc/examples/linear_fascicle_evaluation.py
  doc/examples/motion_correction.py
  doc/examples/reconst_fwdti.py
  doc/examples/reconst_qti.py
  doc/examples/reslice_datasets.py
  doc/examples/simulate_multi_tensor.py
  doc/examples/streamline_registration.py
  doc/examples/surface_seed.py
  doc/examples/workflow_creation.py
  doc/examples_index.rst
  doc/sphinxext/docimage_scrap.py
  doc/sphinxext/prepare_gallery.py
  doc/tools/apigen.py
  doc/tools/build_modref_templates.py
Labels: :notebook:type:Documentation :notebook:, type:Maintenance

#2761 [UPCOMING] Release 1.7.0 - workshop release
  .mailmap
  Changelog
  dipy/align/_public.py
  doc/examples/motion_correction.py
  doc/index.rst
  doc/old_highlights.rst
  doc/old_news.rst
  doc/release_notes/release1.7.rst
  doc/stateoftheart.rst
Labels: type:Maintenance

#2792 Add `patch_radius` parameter to Patch2Self denoise workflow
  dipy/workflows/denoise.py
  dipy/workflows/tests/test_denoise.py
Labels: type:Enhancement
