Repository dipy/dipy, pull requests merged in 2023-01, with the labels that each got.

#2711 [FIX] use tempfile module instead of nibabel for TemporaryDirectory
  dipy/align/parzenhist.pyx
  dipy/data/tests/test_fetcher.py
  dipy/denoise/localpca.py
  dipy/denoise/patch2self.py
  dipy/denoise/tests/test_patch2self.py
  dipy/direction/peaks.py
  dipy/io/image.py
  dipy/io/tests/test_streamline.py
  dipy/reconst/tests/test_ivim.py
  dipy/reconst/tests/test_qtdmri.py
  dipy/reconst/tests/test_rumba.py
  dipy/segment/tests/test_bundles.py
  dipy/utils/tests/test_deprecator.py
  dipy/viz/tests/test_apps.py
  dipy/workflows/stats.py
  dipy/workflows/tests/test_align.py
  dipy/workflows/tests/test_denoise.py
  dipy/workflows/tests/test_iap.py
  dipy/workflows/tests/test_io.py
  dipy/workflows/tests/test_masking.py
  dipy/workflows/tests/test_reconst_csa_csd.py
  dipy/workflows/tests/test_reconst_dki.py
  dipy/workflows/tests/test_reconst_dti.py
  dipy/workflows/tests/test_reconst_ivim.py
  dipy/workflows/tests/test_reconst_mapmri.py
  dipy/workflows/tests/test_reconst_rumba.py
  dipy/workflows/tests/test_segment.py
  dipy/workflows/tests/test_stats.py
  dipy/workflows/tests/test_tracking.py
  dipy/workflows/tests/test_viz.py
  dipy/workflows/tests/test_workflow.py
Labels: type:Maintenance

#2710 small fixes for tutorials
  doc/examples/fiber_to_bundle_coherence.py
  doc/examples/viz_slice.py
  tools/ex2rst
Labels: :notebook:type:Documentation :notebook:

#2698 Replace CENIR with HBN
  dipy/data/__init__.py
  dipy/data/fetcher.py
  dipy/workflows/tests/test_io.py
  doc/examples/reconst_forecast.py
  doc/examples/reconst_fwdti.py
Labels: type:New feature

#2625 [Upcoming] Release 1.6.0
  .mailmap
  AUTHOR
  Changelog
  LICENSE
  README.rst
  dipy/data/fetcher.py
  dipy/reconst/dti.py
  dipy/reconst/recspeed.pyx
  dipy/tracking/distances.pyx
  dipy/tracking/streamlinespeed.pyx
  doc/api_changes.rst
  doc/conf.py
  doc/examples/linear_fascicle_evaluation.py
  doc/examples/reconst_dsi.py
  doc/examples_index.rst
  doc/index.rst
  doc/old_highlights.rst
  doc/old_news.rst
  doc/release_notes/release1.6.rst
  doc/stateoftheart.rst
  tools/doctest_extmods.py
Labels: type:Release plan

#2716 NF - Added cython utility functions
  dipy/utils/fast_numpy.pxd
  dipy/utils/fast_numpy.pyx
  dipy/utils/tests/test_fast_numpy.py
Labels: type:New feature
