Repository dipy/dipy, pull requests merged in 2023-10, with the labels that each got.

#2921 [FIX] tiny fix to HBN fetcher to also grab T1 for each subject
  dipy/data/fetcher.py
Labels: type:Bug Fix

#2781 Small fixes in functions
  dipy/align/reslice.py
  dipy/align/tests/test_api.py
  dipy/align/tests/test_reslice.py
  dipy/core/gradients.py
  dipy/core/tests/test_gradients.py
  dipy/nn/evac.py
  dipy/nn/utils.py
  doc/api_changes.rst
  doc/examples/motion_correction.py
Labels: type:Bug Fix

#2925 STYLE: Fix miscellaneous Numpy warnings
  dipy/reconst/qti.py
  dipy/reconst/tests/test_dsi.py
  dipy/reconst/tests/test_dsi_deconv.py
  dipy/reconst/tests/test_rumba.py
  dipy/reconst/tests/test_shore_odf.py
  dipy/segment/tests/test_fss.py
Labels: type:Enhancement

#2927 DOC: Fix package name in documentation config file comment
  doc/conf.py
Labels: :notebook:type:Documentation :notebook:

#2892 BF - fixed random generator seed `value too large to convert to int` error
  dipy/tracking/local_tracking.py
  dipy/tracking/tests/test_tracking.py
  dipy/utils/fast_numpy.pxd
  dipy/utils/fast_numpy.pyx
  dipy/utils/tests/test_fast_numpy.py
Labels: type:Bug Fix

#2825 NF - add initial directions to local tracking
  dipy/tracking/local_tracking.py
  dipy/tracking/tests/test_tracking.py
Labels: type:New feature

#2759 TRX integration
  .github/workflows/test.yml
  .github/workflows/test_compat.yml
  .github/workflows/test_optional.yml
  dipy/data/fetcher.py
  dipy/info.py
  dipy/io/stateful_tractogram.py
  dipy/io/streamline.py
  dipy/io/tests/test_stateful_tractogram.py
  dipy/io/tests/test_streamline.py
  dipy/io/tests/test_utils.py
  dipy/io/utils.py
  pyproject.toml
  requirements.txt
  setup.py
Labels: type:New feature

#2930 Update of the tutorial apply image-based registration to streamlines
  dipy/align/imwarp.py
  doc/examples/streamline_registration.py
Labels: type:Enhancement, :notebook:type:Documentation :notebook:

#2942 OPT: Delegate to NumPy creating a random matrix
  dipy/align/streamwarp.py
Labels: type:Maintenance

#2938 TEST: Adding random generator with seed to icm tests
  dipy/segment/tests/test_mrf.py
Labels: type:Maintenance

#2940 TEST: Filter legacy SH bases warnings in PTT direction getter test
  dipy/direction/tests/test_ptt_direction_getter.py
Labels: type:Maintenance

#2954 TEST: Bring back Python 3.8 testing to GHA workflows
  .github/workflows/test.yml
  .github/workflows/test_compat.yml
Labels: type:Maintenance

#2932 OPT - Optimized pmfgen
  dipy/direction/closest_peak_direction_getter.pxd
  dipy/direction/closest_peak_direction_getter.pyx
  dipy/direction/pmf.pxd
  dipy/direction/pmf.pyx
  dipy/direction/probabilistic_direction_getter.pxd
  dipy/direction/probabilistic_direction_getter.pyx
  dipy/direction/ptt_direction_getter.pyx
  dipy/direction/tests/test_pmf.py
  dipy/direction/tests/test_prob_direction_getter.py
  dipy/tracking/direction_getter.pxd
  doc/examples/tracking_deterministic.py
  doc/examples/tracking_pft.py
  doc/examples/tracking_probabilistic.py
Labels: type:Enhancement

#2941 TEST: Fix NumPy array to scalar value conversion warning
  dipy/denoise/tests/test_ascm.py
  dipy/reconst/dki.py
  dipy/reconst/msdki.py
  dipy/reconst/qtdmri.py
  dipy/reconst/tests/test_qtdmri.py
  dipy/segment/tests/test_metric.py
Labels: type:Maintenance

#2957 STYLE: Fix typo in `msdki` reconstruction test name
  dipy/reconst/tests/test_msdki.py
Labels: type:Maintenance
