Repository dipy/dipy, pull requests merged in 2024-01, with the labels that each got.

#3026 [RF] Fix cython 3 warnings
  dipy/align/bundlemin.pyx
  dipy/align/crosscorr.pyx
  dipy/align/sumsqdiff.pyx
  dipy/align/transforms.pxd
  dipy/align/transforms.pyx
  dipy/align/vector_fields.pyx
  dipy/core/interpolation.pxd
  dipy/core/interpolation.pyx
  dipy/denoise/enhancement_kernel.pyx
  dipy/denoise/nlmeans_block.pyx
  dipy/denoise/pca_noise_estimate.pyx
  dipy/direction/bootstrap_direction_getter.pyx
  dipy/direction/pmf.pxd
  dipy/direction/pmf.pyx
  dipy/meson.build
  dipy/reconst/recspeed.pyx
  dipy/segment/clusteringspeed.pxd
  dipy/segment/clusteringspeed.pyx
  dipy/segment/cythonutils.pxd
  dipy/segment/cythonutils.pyx
  dipy/segment/featurespeed.pxd
  dipy/segment/featurespeed.pyx
  dipy/segment/metricspeed.pxd
  dipy/segment/metricspeed.pyx
  dipy/segment/mrf.pyx
  dipy/tracking/direction_getter.pyx
  dipy/tracking/distances.pyx
  dipy/tracking/localtrack.pyx
  dipy/tracking/propspeed.pxd
  dipy/tracking/propspeed.pyx
  dipy/tracking/streamlinespeed.pxd
  dipy/tracking/streamlinespeed.pyx
  dipy/tracking/vox2track.pyx
  dipy/utils/fast_numpy.pxd
  dipy/utils/fast_numpy.pyx
  doc/devel/coding_style_guideline.rst
  src/safe_openmp.pxd
Labels: type:Maintenance

#3021 [MTN] Remove 3.8 Ci's
  .github/workflows/nightly.yml
  .github/workflows/test.yml
  .github/workflows/test_compat.yml
Labels: type:Maintenance

#3031 Bugfix: Horizon image's dtype validation
  dipy/testing/__init__.py
  dipy/viz/horizon/app.py
  dipy/viz/horizon/tab/tests/test_base.py
  dipy/viz/horizon/util.py
  dipy/viz/tests/meson.build
  dipy/viz/tests/test_apps.py
  dipy/viz/tests/test_util.py
Labels: type:Bug Fix, category:visualization

#3025 [TEST] Manage http errors for stateful tractograms
  dipy/io/tests/test_stateful_tractogram.py
Labels: type:Maintenance

#3008 NF: add SH basis conversion between dipy and mrtrix3
  dipy/reconst/shm.py
  dipy/reconst/tests/test_shm.py
  dipy/workflows/cli.py
  dipy/workflows/io.py
  dipy/workflows/tests/test_io.py
  doc/recipes.rst
  pyproject.toml
Labels: type:New feature

#3027 [NF] Add Concatenate tracks workflows
  .gitignore
  dipy/data/fetcher.py
  dipy/io/streamline.py
  dipy/utils/meson.build
  dipy/utils/tests/meson.build
  dipy/utils/tests/test_tractogram.py
  dipy/utils/tractogram.py
  dipy/workflows/cli.py
  dipy/workflows/docstring_parser.py
  dipy/workflows/io.py
  dipy/workflows/tests/test_io.py
  pyproject.toml
Labels: type:New feature

#3039 [TEST] Add setup_module and teardown_module
  dipy/align/tests/test_scalespace.py
  dipy/align/tests/test_streamwarp.py
  dipy/data/tests/test_data.py
  dipy/io/tests/test_stateful_tractogram.py
  dipy/io/tests/test_streamline.py
  dipy/io/tests/test_utils.py
  dipy/reconst/tests/test_cti.py
  dipy/reconst/tests/test_dki.py
  dipy/reconst/tests/test_dki_micro.py
  dipy/reconst/tests/test_gqi.py
  dipy/reconst/tests/test_msdki.py
Labels: type:Enhancement

#3040 [BW] Remove some python2 reference
  dipy/data/tests/test_fetcher.py
  dipy/workflows/base.py
  dipy/workflows/tests/test_docstring_parser.py
  doc/sphinxext/docscrape.py
  doc/sphinxext/numpydoc.py
Labels: type:Maintenance

#3051 [RF] Remove dipy.io.bvectxt module
  dipy/io/__init__.py
  dipy/io/bvectxt.py
  dipy/io/meson.build
  doc/api_changes.rst
Labels: type:Maintenance

#3050 [RF] Move ``dipy.boots.resampling`` to ``dipy.stats.resampling``
  dipy/boots/__init__.py
  dipy/boots/meson.build
  dipy/meson.build
  dipy/stats/meson.build
  dipy/stats/resampling.py
  dipy/stats/tests/meson.build
  dipy/stats/tests/test_resampling.py
  doc/api_changes.rst
Labels: type:Maintenance

#3049 [MTN] code cleaning: remove some dependencies version checking
  dipy/__init__.py
  dipy/conftest.py
  dipy/denoise/localpca.py
  dipy/reconst/dti.py
  dipy/reconst/mcsd.py
  dipy/testing/__init__.py
  dipy/viz/horizon/app.py
  doc/conf.py
Labels: type:Maintenance
