Repository dipy/dipy, pull requests merged in 2024-07, with the labels that each got.

#3239 NF: Decorator for keyword-only argument
  dipy/stats/analysis.py
  dipy/stats/qc.py
  dipy/stats/resampling.py
  dipy/stats/tests/test_qc.py
  dipy/testing/decorators.py
  dipy/testing/tests/test_decorators.py
Labels: type:New feature, type:Maintenance

#3233 STYLE: Set `stacklevel` argument explicitly to warning messages
  dipy/testing/tests/test_testing.py
  ruff.toml
Labels: type:Maintenance

#3253 NF: Applying Decorators in Module (Data)
  dipy/data/__init__.py
  dipy/data/fetcher.py
Labels: type:Maintenance

#3255 NF: Applying Decorators in Module (Io)
  dipy/io/dpy.py
  dipy/io/image.py
  dipy/io/peaks.py
  dipy/io/stateful_tractogram.py
  dipy/io/streamline.py
  dipy/io/surface.py
  dipy/io/utils.py
  dipy/io/vtk.py
Labels: type:Maintenance

#3261 NF: Applying Decorators in Module (Utils)
  dipy/utils/arrfuncs.py
  dipy/utils/deprecator.py
  dipy/utils/parallel.py
  dipy/utils/volume.py
Labels: type:Maintenance

#3259 NF: Applying Decorators in Module (Sims)
  dipy/sims/phantom.py
  dipy/sims/voxel.py
Labels: type:Maintenance

#3279 FIX: Explicit type origin for long to solve the cython error during compilation
  dipy/denoise/enhancement_kernel.pyx
Labels: type:Maintenance

#3251 NF: Applying Decorators in Module (Core)
  dipy/core/geometry.py
  dipy/core/gradients.py
  dipy/core/graph.py
  dipy/core/histeq.py
  dipy/core/interpolation.pyx
  dipy/core/onetime.py
  dipy/core/optimize.py
  dipy/core/profile.py
  dipy/core/rng.py
  dipy/core/sphere.py
  dipy/core/sphere_stats.py
  dipy/core/subdivide_octahedron.py
  dipy/core/wavelet.py
Labels: type:Maintenance

#3249 NF: Applying Decorators in Module (Align)
  dipy/align/_public.py
  dipy/align/bundlemin.pyx
  dipy/align/cpd.py
  dipy/align/imaffine.py
  dipy/align/imwarp.py
  dipy/align/metrics.py
  dipy/align/parzenhist.pyx
  dipy/align/reslice.py
  dipy/align/scalespace.py
  dipy/align/streamlinear.py
  dipy/align/streamwarp.py
  dipy/align/vector_fields.pyx
Labels: type:Maintenance

#3258 NF: Applying Decorators in Module (Segment)
  dipy/segment/bundles.py
  dipy/segment/clustering.py
  dipy/segment/clustering_algorithms.pyx
  dipy/segment/fss.py
  dipy/segment/mask.py
  dipy/segment/threshold.py
  dipy/segment/tissue.py
Labels: type:Maintenance

#3256 NF: Applying Decorators in Module (NeuralNetwork)
  dipy/nn/cnn_1d_denoising.py
  dipy/nn/deepn4.py
  dipy/nn/evac.py
  dipy/nn/histo_resdnn.py
  dipy/nn/model.py
  dipy/nn/synb0.py
  dipy/nn/utils.py
Labels: type:Maintenance

#3260 NF: Applying Decorators in Module (Tracking)
  dipy/tracking/fbcmeasures.pyx
  dipy/tracking/life.py
  dipy/tracking/local_tracking.py
  dipy/tracking/mesh.py
  dipy/tracking/metrics.py
  dipy/tracking/streamline.py
  dipy/tracking/streamlinespeed.pyx
  dipy/tracking/utils.py
  dipy/tracking/vox2track.pyx
Labels: type:Maintenance

#3287 NF: Add `__len__` to `GradientTable`
  dipy/core/gradients.py
  dipy/core/tests/test_gradients.py
  doc/examples/quick_start.py
Labels: type:Enhancement

#3263 NF: Applying Decorators in Module (Workflow)
  dipy/workflows/align.py
  dipy/workflows/combined_workflow.py
  dipy/workflows/denoise.py
  dipy/workflows/docstring_parser.py
  dipy/workflows/io.py
  dipy/workflows/mask.py
  dipy/workflows/multi_io.py
  dipy/workflows/nn.py
  dipy/workflows/reconst.py
  dipy/workflows/segment.py
  dipy/workflows/stats.py
  dipy/workflows/tracking.py
  dipy/workflows/viz.py
  dipy/workflows/workflow.py
Labels: type:Maintenance

#3262 NF: Applying Decorators in Module (Visualization)
  dipy/viz/horizon/app.py
  dipy/viz/horizon/tab/base.py
  dipy/viz/horizon/tab/peak.py
  dipy/viz/horizon/tab/slice.py
  dipy/viz/horizon/util.py
  dipy/viz/horizon/visualizer/cluster.py
  dipy/viz/horizon/visualizer/peak.py
  dipy/viz/horizon/visualizer/slice.py
  dipy/viz/panel.py
  dipy/viz/plotting.py
  dipy/viz/projections.py
  dipy/viz/regtools.py
  dipy/viz/streamline.py
Labels: type:Maintenance

#3291 FIX: nighlty wheels for macOS arm64
  .github/workflows/nightly.yml
Labels: type:Maintenance
