Repository dipy/dipy, pull requests merged in 2024-03, with the labels that each got.

#3092 Feature: volume synchronizing
  dipy/viz/horizon/app.py
  dipy/viz/horizon/tab/base.py
  dipy/viz/horizon/tab/slice.py
  dipy/viz/horizon/util.py
  dipy/viz/tests/test_util.py
Labels: category:visualization

#3081 NF: Adding N4 bias correction deep learning model
  dipy/data/fetcher.py
  dipy/nn/deepn4.py
  dipy/nn/meson.build
  dipy/nn/tests/meson.build
  dipy/nn/tests/test_deepn4.py
  dipy/workflows/tests/test_io.py
Labels: type:New feature

#2973 Tab names for slice tabs as file names.
  dipy/testing/decorators.py
  dipy/viz/horizon/app.py
  dipy/viz/horizon/tab/base.py
  dipy/viz/horizon/tab/slice.py
  dipy/viz/horizon/util.py
  dipy/viz/tests/test_apps.py
  dipy/viz/tests/test_util.py
  dipy/workflows/tests/test_viz.py
  dipy/workflows/viz.py
Labels: type:Enhancement, category:visualization

#3098 Removing tensorflow addon from DL models
  .github/workflows/coverage.yml
  dipy/nn/deepn4.py
  dipy/nn/synb0.py
  dipy/nn/tests/test_deepn4.py
  dipy/nn/tests/test_synb0.py
  pyproject.toml
Labels: type: Refactoring

#3073 [NF] Add DSI workflow
  dipy/io/peaks.py
  dipy/workflows/cli.py
  dipy/workflows/reconst.py
  dipy/workflows/tests/meson.build
  dipy/workflows/tests/test_reconst_dsi.py
  pyproject.toml
Labels: type:New feature

#3053 [NF] Add workflow to convert tensors in different formats
  dipy/reconst/tests/test_utils.py
  dipy/reconst/utils.py
  dipy/workflows/cli.py
  dipy/workflows/io.py
  dipy/workflows/tests/test_io.py
  doc/recipes.rst
  pyproject.toml
Labels: type:New feature

#3048 [TEST] Adds support of cython for pytest
  .codecov.yml
  dipy/conftest.py
  dipy/utils/tests/meson.build
  dipy/utils/tests/test_fast_numpy.py
  dipy/utils/tests/test_fast_numpy.pyx
Labels: type:New feature, state: needs code review

#3101 [BF] Uniformize cython version
  dipy/workflows/io.py
  dipy/workflows/reconst.py
  doc/recipes.rst
  pyproject.toml
  requirements.txt
  requirements/build.txt
Labels: type:Maintenance

#3078 return S0 from dki fit
  dipy/reconst/dki.py
  dipy/reconst/tests/test_dki.py
Labels: type:Enhancement

#3033 [RF] fix dki mask for nlls
  dipy/reconst/dki.py
  dipy/reconst/tests/test_dki.py
Labels: type:Bug Fix

#3109 [BF] convert_tractogram fix
  dipy/workflows/io.py
Labels: type:Bug Fix

#3105 [doc] improve some tutorials rendering
  dipy/io/tests/test_stateful_tractogram.py
  dipy/io/tests/test_streamline.py
  dipy/io/vtk.py
  dipy/viz/__init__.py
  dipy/viz/horizon/app.py
  dipy/viz/horizon/tab/base.py
  dipy/viz/horizon/tab/cluster.py
  dipy/viz/horizon/tab/peak.py
  dipy/viz/horizon/tab/roi.py
  dipy/viz/horizon/tab/slice.py
  dipy/viz/horizon/tab/tests/test_base.py
  dipy/viz/horizon/visualizer/cluster.py
  dipy/viz/horizon/visualizer/slice.py
  dipy/viz/horizon/visualizer/surface.py
  dipy/viz/panel.py
  dipy/viz/streamline.py
  dipy/viz/tests/test_apps.py
  dipy/viz/tests/test_fury.py
  dipy/viz/tests/test_streamline.py
  dipy/workflows/tests/test_viz.py
  dipy/workflows/viz.py
  doc/api_changes.rst
  doc/devel/toolchain.rst
  doc/doc-requirements.txt
  doc/examples/brain_extraction_dwi.py
  doc/examples/bundle_extraction.py
  doc/examples/combined_workflow_creation.py
  doc/examples/reconst_dki.py
  doc/examples/reconst_ivim.py
  doc/examples/reconst_msdki.py
  doc/examples/reconst_qtdmri.py
  doc/examples/reconst_qti.py
  doc/examples/reconst_qtiplus.py
  doc/examples/simulate_dki.py
  doc/examples/simulate_multi_tensor.py
  doc/examples/streamline_formats.py
  doc/examples/streamline_registration.py
  doc/examples/viz_bundles.py
  doc/index.rst
  doc/links_names.inc
  doc/make.bat
  doc/user_guide/dependencies.rst
  pyproject.toml
Labels: :notebook:type:Documentation :notebook:

#3095 [UPCOMING] Release preparation for 1.9.0
  .mailmap
  Changelog
  LICENSE
  dipy/align/imaffine.py
  dipy/denoise/gibbs.py
  dipy/direction/peaks.py
  dipy/reconst/csdeconv.py
  dipy/segment/bundles.py
  dipy/workflows/denoise.py
  dipy/workflows/reconst.py
  doc/api_changes.rst
  doc/index.rst
  doc/old_highlights.rst
  doc/old_news.rst
  doc/release_notes/release1.9.rst
  doc/stateoftheart.rst
Labels: type:Release plan

#3120 DOC - Removed unnecessary line from tracking example
  doc/examples/tracking_introduction_eudx.py
Labels: :notebook:type:Documentation :notebook:

#3135 DOC: Fix documentation URLs
  .github/CONTRIBUTING.md
  pyproject.toml
Labels: :notebook:type:Documentation :notebook:

#3141 ENH: Fix miscellaneous warnings
  dipy/nn/model.py
  dipy/nn/tests/test_histo_resdnn.py
  dipy/nn/tests/test_tf.py
Labels: type:Maintenance

#3126 Bugfix for ROI images updates
  dipy/viz/horizon/app.py
  dipy/viz/horizon/util.py
  dipy/viz/horizon/visualizer/slice.py
  dipy/viz/tests/test_apps.py
Labels: type:Enhancement, category:visualization

#3138 [CI] update CI's script
  .github/workflows/nightly.yml
  .github/workflows/test.yml
  .github/workflows/test_pre.yml
  .github/workflows/test_template.yml
Labels: type:Maintenance

#3148 ENH: Fix HDF5 key warning when saving BUAN profile data
  dipy/io/utils.py
Labels: type:Maintenance

#3149 ENH: Miscellaneous cleanup
  dipy/workflows/stats.py
Labels: type:Enhancement, type:Maintenance

#3146 [NF] Add 30 Bundle brain atlas fetcher
  dipy/data/__init__.py
  dipy/data/fetcher.py
  dipy/workflows/tests/test_io.py
Labels: type:New feature

#2982 [FIX] Force the use of pre-wheels
  .github/workflows/test_pre.yml
  tools/ci/install.sh
  tools/ci/install_dependencies.sh
Labels: type:Maintenance

#3144 ROI tab revamped
  dipy/data/files/record_horizon.log.gz
  dipy/viz/horizon/tab/base.py
  dipy/viz/horizon/tab/roi.py
  dipy/viz/tests/test_apps.py
Labels: type:Enhancement, category:visualization

#3162 ENH: Fix variable potentially being referenced before assignment
  dipy/viz/projections.py
Labels: type:Maintenance

#3161 DOC: Fix `tri` parameter docstring in `viz.projections.sph_project`
  dipy/viz/projections.py
Labels: type:Maintenance
