Repository dipy/dipy, pull requests merged in 2024-09, with the labels that each got.

#3350 DOC: Do not use the `scale` option for URL-based images
  doc/examples/denoise_patch2self.py
  doc/interfaces/denoise_flow.rst
Labels: :notebook:type:Documentation :notebook:

#3317 DOC: Miscellaneous documentation improvements
  dipy/align/streamlinear.py
  dipy/align/streamwarp.py
  dipy/core/gradients.py
  dipy/core/optimize.py
  dipy/data/fetcher.py
  dipy/denoise/enhancement_kernel.pyx
  dipy/denoise/gibbs.py
  dipy/denoise/localpca.py
  dipy/denoise/noise_estimate.py
  dipy/io/image.py
  dipy/io/stateful_tractogram.py
  dipy/nn/deepn4.py
  dipy/nn/evac.py
  dipy/nn/histo_resdnn.py
  dipy/nn/synb0.py
  dipy/reconst/csdeconv.py
  dipy/reconst/cti.py
  dipy/reconst/dki.py
  dipy/reconst/dki_micro.py
  dipy/reconst/dsi.py
  dipy/reconst/dti.py
  dipy/reconst/forecast.py
  dipy/reconst/fwdti.py
  dipy/reconst/gqi.py
  dipy/reconst/mapmri.py
  dipy/reconst/mcsd.py
  dipy/reconst/msdki.py
  dipy/reconst/rumba.py
  dipy/reconst/sfm.py
  dipy/reconst/shore.py
  dipy/segment/bundles.py
  dipy/segment/clustering.py
  dipy/segment/mask.py
  dipy/sims/phantom.py
  dipy/sims/voxel.py
  dipy/stats/analysis.py
  dipy/stats/qc.py
  dipy/stats/resampling.py
  dipy/tracking/life.py
  dipy/tracking/local_tracking.py
  dipy/tracking/streamline.py
  dipy/tracking/streamlinespeed.pyx
  dipy/viz/regtools.py
Labels: :notebook:type:Documentation :notebook:

#3254 NF: Applying Decorators in Module (Direction)
  dipy/direction/bootstrap_direction_getter.pyx
  dipy/direction/closest_peak_direction_getter.pyx
  dipy/direction/peaks.py
  dipy/direction/probabilistic_direction_getter.pyx
  dipy/direction/ptt_direction_getter.pyx
  dipy/direction/tests/test_bootstrap_direction_getter.py
  dipy/direction/tests/test_peaks.py
  dipy/reconst/tests/test_dsi_deconv.py
  dipy/reconst/tests/test_forecast.py
  dipy/reconst/tests/test_gqi.py
  dipy/reconst/tests/test_mapmri.py
  dipy/reconst/tests/test_rumba.py
  dipy/reconst/tests/test_shore_odf.py
Labels: type:Maintenance

#3351 DOC: Fix miscellaneous documentation build warnings (part 3)
  dipy/reconst/shm.py
  dipy/viz/horizon/tab/base.py
Labels: :notebook:type:Documentation :notebook:

#3221 Updating BundleWarp default value of alpha
  dipy/align/streamwarp.py
  dipy/align/tests/test_streamwarp.py
  dipy/viz/tests/test_streamline.py
  dipy/workflows/align.py
  doc/interfaces/bundlewarp_registration_flow.rst
Labels: type:Enhancement, type:Maintenance

#3355 FIX: missing keyword only arguments on example
  doc/examples/denoise_gibbs.py
  doc/examples/denoise_localpca.py
  doc/examples/denoise_mppca.py
  doc/examples/motion_correction.py
  doc/examples/reconst_dki_micro.py
  doc/examples/reconst_dsid.py
  doc/examples/reconst_forecast.py
  doc/examples/reconst_msdki.py
  doc/examples/simulate_multi_tensor.py
  doc/examples/syn_registration_2d.py
  doc/examples/syn_registration_3d.py
Labels: :notebook:type:Documentation :notebook:

#3343 BF Fixing transformation function
  .pep8speaks.yml
  dipy/data/fetcher.py
  dipy/nn/deepn4.py
  dipy/nn/evac.py
  dipy/nn/tests/test_utils.py
  dipy/nn/utils.py
Labels: type:Bug Fix

#3360 DOC: Remove unnecessary leading whitespace in rst doc paragraph
  doc/interfaces/bundlewarp_registration_flow.rst
Labels: :notebook:type:Documentation :notebook:

#3356 BF: fix s390x compatibility
  dipy/io/tests/test_stateful_tractogram.py
  dipy/segment/tests/test_bundles.py
  dipy/tracking/streamlinespeed.pyx
  dipy/utils/tests/test_tractogram.py
  dipy/workflows/tests/test_io.py
Labels: type:Bug Fix

#3366 DOC: Make `rng` optional parameter docstrings consistent
  dipy/sims/voxel.py
Labels: :notebook:type:Documentation :notebook:
