Repository dipy/dipy, pull requests merged in 2024-06, with the labels that each got.

#3269 STYLE: Prefer using `isin` over `in1d`
  benchmarks/benchmarks/bench_reconst.py
  dipy/segment/tests/test_fss.py
Labels: type:Maintenance

#3268 STYLE: Prefer using `np.asarray` to avoid copy while creating an array
  dipy/core/interpolation.pyx
  dipy/core/sphere.py
  dipy/reconst/dki.py
  dipy/reconst/dki_micro.py
  dipy/reconst/dti.py
  dipy/reconst/eudx_direction_getter.pyx
  dipy/reconst/fwdti.py
  dipy/reconst/msdki.py
  dipy/reconst/qti.py
  dipy/reconst/sfm.py
  dipy/tracking/utils.py
Labels: type:Maintenance

#3264 TEST: avoid direct comparison of floating point numbers
  dipy/segment/tests/test_mrf.py
Labels: type:Maintenance

#3267 STYLE: Avoid deprecated NumPy types and methods for NumPy 2.0 compat
  dipy/align/imwarp.py
  dipy/reconst/mcsd.py
  dipy/stats/tests/test_qc.py
  dipy/tracking/tests/test_tracking.py
  doc/examples/linear_fascicle_evaluation.py
Labels: type:Maintenance

#3245 RF: Switch from using sparse *_matrix to *_array.
  dipy/core/optimize.py
  dipy/segment/fss.py
  dipy/segment/tests/test_fss.py
  dipy/tracking/life.py
Labels: type:Enhancement

#3237 Add support for tensor-valued spherical functions in `interp_rbf`
  dipy/core/interpolation.pyx
  dipy/core/tests/test_interpolation.py
Labels: type:Enhancement

#3273 STYLE: Make statement dwell on a single line
  dipy/stats/tests/test_qc.py
Labels: type:Maintenance

#3274 RF: Update pyproject.toml for numpy 2.0
  dipy/reconst/tests/test_mapmri.py
  dipy/testing/__init__.py
  pyproject.toml
Labels: type:Maintenance

#2593 Embed parallelization into the multi_voxel_fit decorator.
  .github/workflows/test_optional.yml
  .github/workflows/test_parallel.yml
  .github/workflows/test_template.yml
  dipy/reconst/csdeconv.py
  dipy/reconst/dsi.py
  dipy/reconst/forecast.py
  dipy/reconst/fwdti.py
  dipy/reconst/gqi.py
  dipy/reconst/ivim.py
  dipy/reconst/mapmri.py
  dipy/reconst/mcsd.py
  dipy/reconst/multi_voxel.py
  dipy/reconst/qtdmri.py
  dipy/reconst/shore.py
  dipy/reconst/tests/test_multi_voxel.py
  dipy/utils/parallel.py
  pyproject.toml
  tools/ci/install_dependencies.sh
Labels: type:New feature
