Repository dipy/dipy, pull requests merged in 2024-11, with the labels that each got.

#2826 [ENH] Compute fiber density and fiber spread from ODF using Bingham distributions
  dipy/reconst/bingham.py
  dipy/reconst/meson.build
  dipy/reconst/tests/meson.build
  dipy/reconst/tests/test_bingham.py
  dipy/viz/plotting.py
  doc/examples/_valid_examples.toml
  doc/examples/reconst_bingham.py
  doc/references.bib
Labels: type:New feature

#3396 DOC: Adopt `sphinxcontrib-bibtex` for reconst model list refs
  dipy/reconst/shm.py
  doc/reconstruction_models_list.rst
  doc/references.bib
Labels: :notebook:type:Documentation :notebook:

#1957 niftis2pam, pam2niftis Worflow
  .gitignore
  dipy/io/peaks.py
  dipy/io/tests/test_io_peaks.py
  dipy/reconst/eudx_direction_getter.pyx
  dipy/workflows/cli.py
  dipy/workflows/io.py
  dipy/workflows/reconst.py
  dipy/workflows/tests/test_io.py
  dipy/workflows/tests/test_reconst_csa_csd.py
  dipy/workflows/tests/test_reconst_dki.py
  dipy/workflows/tests/test_reconst_dti.py
  dipy/workflows/tracking.py
  dipy/workflows/viz.py
  doc/api_changes.rst
  pyproject.toml
Labels: type:New feature, state: work-in-progress

#3395 RF: Refactor `nn` module and deprecate `tensorflow` module
  dipy/nn/__init__.py
  dipy/nn/meson.build
  dipy/nn/tests/meson.build
  dipy/nn/tests/test_cnn_1denoiser.py
  dipy/nn/tests/test_deepn4.py
  dipy/nn/tests/test_evac.py
  dipy/nn/tests/test_evac_torch.py
  dipy/nn/tests/test_histo_resdnn.py
  dipy/nn/tests/test_histo_resdnn_torch.py
  dipy/nn/tests/test_synb0.py
  dipy/nn/tests/test_tf.py
  dipy/nn/tf/__init__.py
  dipy/nn/tf/cnn_1d_denoising.py
  dipy/nn/tf/deepn4.py
  dipy/nn/tf/evac.py
  dipy/nn/tf/histo_resdnn.py
  dipy/nn/tf/meson.build
  dipy/nn/tf/model.py
  dipy/nn/tf/synb0.py
  dipy/nn/torch/histo_resdnn.py
Labels: type: Refactoring

#3404 RF: Improve and Simplify version management
  dipy/COMMIT_INFO.txt
  dipy/__init__.py
  dipy/meson.build
  dipy/pkg_info.py
  doc/tools/build_modref_templates.py
  meson.build
  pyproject.toml
  tools/gitversion.py
  tools/version_utils.py
Labels: type:Maintenance

#3403 Robust split idea rebase tidy
  dipy/reconst/dki.py
  dipy/reconst/dti.py
  dipy/reconst/meson.build
  dipy/reconst/multi_voxel.py
  dipy/reconst/tests/meson.build
  dipy/reconst/tests/test_dki.py
  dipy/reconst/tests/test_dti.py
  dipy/reconst/tests/test_weights_method.py
  dipy/reconst/weights_method.py
  dipy/utils/parallel.py
  doc/references.bib
Labels: type:New feature

#3402 DOC: Add Exporting and importing Mapping field information in recipes and registration tutorial
  doc/examples/syn_registration_3d.py
  doc/recipes.rst
Labels: :notebook:type:Documentation :notebook:

#3408 RF: fix step argument in DTI NLLS model
  dipy/reconst/dti.py
  dipy/reconst/tests/test_dti.py
Labels: type:Enhancement

#3407 CI: unpin cvxpy
  .github/workflows/test_template.yml
  doc/doc-requirements.txt
Labels: type:Maintenance

#3409 [RF] Cleanup deprecated functions and remove some old legacy scripts
  dipy/core/gradients.py
  dipy/core/tests/test_gradients.py
  dipy/reconst/csdeconv.py
  dipy/reconst/tests/test_csdeconv.py
  dipy/tracking/metrics.py
  dipy/tracking/tests/test_metrics.py
  tools/dipnost
  tools/doc_mod.py
  tools/ex2rst
  tools/osxbuild.py
  tools/pythonsudo
  tools/release
Labels: type:Maintenance
