Repository dipy/dipy, pull requests merged in 2024-08, with the labels that each got.

#3297 DOC: Miscellaneous doc formatting fixes
  dipy/align/streamlinear.py
  dipy/core/optimize.py
  dipy/denoise/localpca.py
  dipy/denoise/nlmeans.py
  dipy/nn/histo_resdnn.py
  dipy/reconst/cross_validation.py
  dipy/reconst/csdeconv.py
  dipy/reconst/dki.py
  dipy/reconst/dki_micro.py
  dipy/reconst/dsi.py
  dipy/reconst/dti.py
  dipy/reconst/forecast.py
  dipy/reconst/mapmri.py
  dipy/reconst/mcsd.py
  dipy/reconst/qtdmri.py
  dipy/reconst/shm.py
  dipy/reconst/shore.py
  dipy/segment/clustering.py
  dipy/stats/qc.py
  dipy/utils/tractogram.py
  dipy/viz/horizon/app.py
  dipy/workflows/denoise.py
  dipy/workflows/nn.py
  dipy/workflows/reconst.py
  dipy/workflows/viz.py
  doc/api_changes.rst
  doc/examples/_valid_examples.toml
  doc/examples/denoise_mppca.py
  doc/examples/reconst_csa.py
  doc/examples/reconst_csa_parallel.py
  doc/index.rst
Labels: :notebook:type:Documentation :notebook:

#3301 FIX: explicit keyword argument for Horizon
  dipy/viz/horizon/app.py
  dipy/viz/horizon/visualizer/cluster.py
  dipy/viz/horizon/visualizer/surface.py
  dipy/viz/panel.py
  dipy/viz/streamline.py
  dipy/viz/tests/test_apps.py
  dipy/viz/tests/test_fury.py
  doc/examples/bundle_assignment_maps.py
  doc/examples/bundle_extraction.py
  doc/examples/bundle_registration.py
  doc/examples/bundle_shape_similarity.py
  doc/examples/cluster_confidence.py
  doc/examples/contextual_enhancement.py
  doc/examples/fast_streamline_search.py
  doc/examples/fiber_to_bundle_coherence.py
  doc/examples/gradients_spheres.py
  doc/examples/histology_resdnn.py
  doc/examples/linear_fascicle_evaluation.py
  doc/examples/path_length_map.py
  doc/examples/reconst_csa.py
  doc/examples/reconst_csd.py
  doc/examples/reconst_dsid.py
  doc/examples/reconst_dti.py
  doc/examples/reconst_forecast.py
  doc/examples/reconst_mapmri.py
  doc/examples/reconst_mcsd.py
  doc/examples/reconst_rumba.py
  doc/examples/reconst_sfm.py
  doc/examples/reconst_sh.py
  doc/examples/reconst_shore.py
  doc/examples/restore_dti.py
  doc/examples/segment_clustering_features.py
  doc/examples/segment_clustering_metrics.py
  doc/examples/segment_extending_clustering_framework.py
  doc/examples/segment_quickbundles.py
  doc/examples/simulate_multi_tensor.py
  doc/examples/streamline_length.py
  doc/examples/streamline_tools.py
  doc/examples/surface_seed.py
  doc/examples/tracking_bootstrap_peaks.py
  doc/examples/tracking_deterministic.py
  doc/examples/tracking_introduction_eudx.py
  doc/examples/tracking_pft.py
  doc/examples/tracking_probabilistic.py
  doc/examples/tracking_ptt.py
  doc/examples/tracking_rumba.py
  doc/examples/tracking_sfm.py
  doc/examples/tracking_stopping_criterion.py
  doc/examples/viz_advanced.py
  doc/examples/viz_bundles.py
  doc/examples/viz_roi_contour.py
  doc/examples/viz_slice.py
Labels: type:Maintenance

#3295 ENH: Add a GHA workflow file to build docs
  .github/workflows/build_docs.yml
Labels: type:Enhancement, :notebook:type:Documentation :notebook:, type:Maintenance

#3275 FIX: remove sagital from codespellrc ignore list
  .codespellrc
  .github/workflows/codespell.yml
  .pre-commit-config.yaml
  .spin/cmds.py
  dipy/viz/streamline.py
Labels: type:Maintenance

#3308 DOC: Rework the BibTeX bibliography file
  doc/devel/bibliography.rst
  doc/devel/index.rst
  doc/diffusion.bib
  doc/links_names.inc
  doc/references.bib
Labels: :notebook:type:Documentation :notebook:

#3309 DOC: Miscellaneous doc formatting fixes (part 4)
  dipy/align/_public.py
  dipy/align/imaffine.py
  dipy/align/metrics.py
  dipy/align/streamwarp.py
  dipy/core/geometry.py
  dipy/core/optimize.py
  dipy/denoise/adaptive_soft_matching.py
  dipy/denoise/gibbs.py
  dipy/denoise/non_local_means.py
  dipy/io/dpy.py
  dipy/io/utils.py
  dipy/nn/utils.py
  dipy/reconst/csdeconv.py
  dipy/reconst/cti.py
  dipy/reconst/dki.py
  dipy/reconst/dki_micro.py
  dipy/reconst/dsi.py
  dipy/reconst/dti.py
  dipy/reconst/fwdti.py
  dipy/reconst/ivim.py
  dipy/reconst/mapmri.py
  dipy/reconst/qtdmri.py
  dipy/reconst/rumba.py
  dipy/reconst/sfm.py
  dipy/reconst/shore.py
  dipy/reconst/utils.py
  dipy/segment/bundles.py
  dipy/segment/clustering.py
  dipy/testing/decorators.py
  dipy/tests/test_scripts.py
  dipy/tracking/utils.py
  dipy/viz/horizon/util.py
  dipy/viz/horizon/visualizer/peak.py
  dipy/viz/panel.py
  dipy/viz/regtools.py
  dipy/workflows/align.py
  dipy/workflows/docstring_parser.py
  dipy/workflows/io.py
  dipy/workflows/stats.py
  dipy/workflows/viz.py
  doc/examples/reconst_csd.py
  doc/index.rst
  doc/release_notes/release1.4.1.rst
  doc/sphinxext/docscrape.py
  doc/theory/index.rst
Labels: :notebook:type:Documentation :notebook:

#2810 [DOC] introducing sphinxcontrib-Bibtex to improve reference management
  dipy/reconst/cti.py
  dipy/reconst/dki.py
  doc/cite.rst
  doc/conf.py
  doc/devel/bibliography.rst
  doc/doc-requirements.txt
  doc/examples/gradients_spheres.py
  doc/references.bib
  doc/user_guide/bibliography.rst
  doc/user_guide/index.rst
Labels: :notebook:type:Documentation :notebook:, type:Maintenance

#3315 RF: remove legacy numpydoc
  doc/conf.py
  doc/sphinxext/docscrape.py
  doc/sphinxext/docscrape_sphinx.py
  doc/sphinxext/numpydoc.py
Labels: :notebook:type:Documentation :notebook:

#3310 DOC: Cite `nn` references through `sphinxcontrib-bibtex`
  dipy/nn/cnn_1d_denoising.py
  dipy/nn/deepn4.py
  dipy/nn/evac.py
  dipy/nn/histo_resdnn.py
  dipy/nn/synb0.py
  dipy/workflows/nn.py
  doc/theory/sh_basis.rst
Labels: :notebook:type:Documentation :notebook:

#3320 DOC: Miscellaneous documentation improvements (part 2)
  dipy/align/streamlinear.py
  dipy/data/fetcher.py
  dipy/denoise/gibbs.py
  dipy/denoise/shift_twist_convolution.pyx
  dipy/reconst/csdeconv.py
  dipy/reconst/cti.py
  dipy/reconst/dki.py
  dipy/reconst/dti.py
  dipy/reconst/fwdti.py
  dipy/reconst/gqi.py
  dipy/reconst/ivim.py
  dipy/reconst/msdki.py
  dipy/reconst/qtdmri.py
  dipy/reconst/shm.py
  dipy/segment/bundles.py
  dipy/sims/voxel.py
  dipy/tracking/streamline.py
  dipy/viz/horizon/app.py
  dipy/workflows/align.py
  doc/examples/reconst_msdki.py
Labels: :notebook:type:Documentation :notebook:

#3330 DOC: Do not use unfinished double backticks
  dipy/segment/mask.py
  dipy/workflows/docstring_parser.py
Labels: :notebook:type:Documentation :notebook:

#3331 DOC: Miscellaneous documentation improvements (part 3)
  dipy/align/_public.py
  dipy/align/imaffine.py
  dipy/align/streamlinear.py
  dipy/reconst/cti.py
  dipy/reconst/dki.py
  dipy/reconst/fwdti.py
  dipy/reconst/qti.py
  dipy/segment/bundles.py
Labels: :notebook:type:Documentation :notebook:

#3325 DOC: Fix warnings related to displayed math expressions
  dipy/align/imaffine.py
  dipy/data/fetcher.py
  dipy/reconst/cross_validation.py
  dipy/reconst/dki.py
  dipy/reconst/dsi.py
  dipy/reconst/forecast.py
  dipy/reconst/qtdmri.py
  dipy/reconst/shm.py
  dipy/reconst/shore.py
Labels: :notebook:type:Documentation :notebook:

#3332 BF: Set the `Diso` parameter value to the one provided
  dipy/reconst/fwdti.py
Labels: type:Bug Fix

#3340 CI: pin cvxpy to 1.4.4 until 1.5.x issues are solved
  .github/workflows/test_optional.yml
  .github/workflows/test_template.yml
  doc/doc-requirements.txt
  pyproject.toml
Labels: type:Maintenance

#3319 DOC: Use references bibliography file for DIPY citation file
  dipy/align/streamlinear.py
  dipy/workflows/align.py
  doc/cite.rst
  doc/references.bib
  doc/user_guide/bibliography.rst
Labels: :notebook:type:Documentation :notebook:

#3337 DOC: Fix miscellaneous documentation build warnings
  doc/_static/spitfire_0.png
  doc/_static/spitfire_hoped.png
  doc/_static/spitfire_x.png
  doc/_static/spitfire_y.png
  doc/devel/gitwash/index.rst
  doc/examples/snr_in_cc.py
  doc/examples/tracking_stopping_criterion.py
  doc/gimbal_lock.rst
Labels: :notebook:type:Documentation :notebook:

#3335 RF: Allow parallel processing for sphinx extension
  doc/sphinxext/github.py
  doc/sphinxext/math_dollar.py
Labels: type:Enhancement

#3341 DOC: Host MNI template note references in references file
  dipy/data/fetcher.py
  doc/references.bib
Labels: :notebook:type:Documentation :notebook:

#3346 RF: Removal of keyword form Cython files
  dipy/align/bundlemin.pyx
  dipy/align/parzenhist.pyx
  dipy/align/vector_fields.pyx
  dipy/core/interpolation.pyx
  dipy/denoise/denspeed.pyx
  dipy/denoise/enhancement_kernel.pyx
  dipy/denoise/pca_noise_estimate.pyx
  dipy/denoise/shift_twist_convolution.pyx
  dipy/segment/clustering_algorithms.pyx
  dipy/tracking/fbcmeasures.pyx
  dipy/tracking/streamlinespeed.pyx
  dipy/tracking/vox2track.pyx
Labels: type: Refactoring

#3344 DOC: Fix miscellaneous documentation build warnings (part 2)
  benchmarks/README.rst
  dipy/align/imaffine.py
  dipy/align/streamlinear.py
  dipy/core/onetime.py
  dipy/reconst/dki.py
  dipy/reconst/shore.py
  dipy/segment/clustering.py
  doc/cite.rst
  doc/devel/coding_style_guideline.rst
  doc/devel/toolchain.rst
  doc/examples/afq_tract_profiles.py
  doc/examples/bundle_extraction.py
  doc/examples/bundle_registration.py
  doc/examples/denoise_ascm.py
  doc/examples/denoise_mppca.py
  doc/examples/fiber_to_bundle_coherence.py
  doc/examples/motion_correction.py
  doc/examples/reconst_dti.py
  doc/examples/restore_dti.py
  doc/examples/streamline_tools.py
  doc/examples/tracking_sfm.py
  doc/interfaces/basic_flow.rst
  doc/interfaces/buan_flow.rst
  doc/interfaces/bundle_segmentation_flow.rst
  doc/interfaces/bundlewarp_registration_flow.rst
  doc/interfaces/data_fetch.rst
  doc/interfaces/denoise_flow.rst
  doc/interfaces/gibbs_unringing_flow.rst
  doc/interfaces/motion_flow.rst
  doc/interfaces/reconstruction_flow.rst
  doc/interfaces/registration_flow.rst
  doc/interfaces/tracking_flow.rst
  doc/interfaces/viz_flow.rst
  doc/links_names.inc
  doc/reconstruction_models_list.rst
  doc/references.bib
Labels: :notebook:type:Documentation :notebook:
