Repository dipy/dipy, pull requests merged in 2024-02, with the labels that each got.

#3061 [OPT] Enable openmp for macOS wheel and CI's
  .github/workflows/nightly.yml
  .github/workflows/test_template.yml
  dipy/meson.build
  doc/devel/installation_from_source.rst
Labels: type:Maintenance

#3063 [RF] remove cpdef in PmfGen
  dipy/direction/bootstrap_direction_getter.pyx
  dipy/direction/closest_peak_direction_getter.pxd
  dipy/direction/closest_peak_direction_getter.pyx
  dipy/direction/pmf.pxd
  dipy/direction/pmf.pyx
  dipy/direction/probabilistic_direction_getter.pyx
  dipy/reconst/eudx_direction_getter.pyx
  dipy/tracking/direction_getter.pxd
  dipy/tracking/direction_getter.pyx
  dipy/tracking/localtrack.pyx
Labels: type:Enhancement

#3069 [DOC] Fix DTI Tutorial [ci skip]
  dipy/__init__.py
  doc/examples/reconst_dti.py
  doc/tools/build_modref_templates.py
Labels: :notebook:type:Documentation :notebook:

#3076 [CI] Update scientific-python/upload-nightly-action to 0.5.0
  .github/dependabot.yml
  .github/workflows/nightly.yml
Labels: type:Maintenance

#3084 fixed 4d slice issue
  dipy/viz/horizon/tab/slice.py
Labels: category:visualization

#3088 [TEST] Pin pytest
  .github/workflows/nightly.yml
  tools/ci/install_dependencies.sh
Labels: type:Maintenance
