Repository dipy/dipy, pull requests merged in 2024-12, with the labels that each got.

#3417 MAINT: Address changes to API with new (1.6) version of cvxpy.
  dipy/core/optimize.py
Labels: type:Maintenance

#3415 tests: leave no trace behind
  dipy/io/tests/test_io_peaks.py
  dipy/io/tests/test_stateful_tractogram.py
  dipy/viz/tests/test_apps.py
  dipy/viz/tests/test_fury.py
  dipy/workflows/align.py
  dipy/workflows/io.py
  dipy/workflows/reconst.py
  dipy/workflows/tests/test_align.py
  dipy/workflows/tests/test_io.py
  dipy/workflows/tests/test_segment.py
  dipy/workflows/tests/test_tracking.py
  dipy/workflows/tests/test_viz.py
  tools/ci/run_tests.sh
Labels: type:Maintenance

#3420 CI: define output path for coverage
  dipy/workflows/reconst.py
  pyproject.toml
  tools/ci/run_tests.sh
Labels: type:Maintenance

#3364 UPCOMING: Release 1.10.0
  .github/workflows/test_template.yml
  .mailmap
  Changelog
  Makefile
  doc/_static/version_switcher.json
  doc/api_changes.rst
  doc/devel/make_release.rst
  doc/devel/toolchain.rst
  doc/examples/fiber_to_bundle_coherence.py
  doc/index.rst
  doc/old_highlights.rst
  doc/old_news.rst
  doc/release_notes/release1.10.rst
  doc/stateoftheart.rst
Labels: type:Release plan

#3422 RF: fix joblib warning in sfm
  dipy/reconst/sfm.py
Labels: type:Maintenance

#3421 CI: remove python3.9 support
  .github/workflows/test.yml
  .github/workflows/test_compat.yml
  .github/workflows/test_template.yml
  benchmarks/asv.conf.json
  benchmarks/asv_compare.conf.json.tpl
  doc/devel/toolchain.rst
  pyproject.toml
Labels: type:Maintenance

#3428 DOC: Add implemented tractography method table to tracking example index
  doc/conf.py
  doc/examples/_valid_examples.toml
  doc/tractography_methods_list.rst
Labels: :notebook:type:Documentation :notebook:

#3430 ENH: Add type annotation information
  dipy/meson.build
  dipy/py.typed
Labels: type:Maintenance
