Repository dipy/dipy, pull requests merged in 2024-10, with the labels that each got.

#3348 DOC: Address remaining some warnings
  .github/workflows/build_docs.yml
  dipy/align/crosscorr.pyx
  dipy/align/expectmax.pyx
  dipy/core/interpolation.pyx
  dipy/core/optimize.py
  dipy/denoise/denspeed.pyx
  dipy/denoise/pca_noise_estimate.pyx
  dipy/denoise/shift_twist_convolution.pyx
  dipy/segment/featurespeed.pyx
  dipy/tracking/stopping_criterion.pyx
  dipy/viz/horizon/visualizer/peak.py
  dipy/workflows/base.py
  doc/conf.py
  doc/examples/gradients_spheres.py
  doc/tools/apigen.py
  doc/tools/build_modref_templates.py
  doc/tools/docgen_cmd.py
  pyproject.toml
Labels: :notebook:type:Documentation :notebook:

#3375 DOC: Reference footnote in `streamline_tools`
  doc/examples/streamline_tools.py
Labels: :notebook:type:Documentation :notebook:

#3377 DOC: Miscellaneous improvements to `PeakActor` docstring
  dipy/viz/horizon/visualizer/peak.py
Labels: :notebook:type:Documentation :notebook:

#3378 doc: Link reconstruction model list to multiple pages
  doc/conf.py
  doc/examples/_valid_examples.toml
  doc/sphinxext/prepare_gallery.py
Labels: :notebook:type:Documentation :notebook:

#3379 DOC: Remove example files labels
  doc/examples/linear_fascicle_evaluation.py
  doc/examples/reconst_dti.py
  doc/examples/reconst_mcsd.py
  doc/examples/reconst_sfm.py
  doc/examples/simulate_dki.py
  doc/examples/snr_in_cc.py
  doc/examples/streamline_registration.py
  doc/examples/streamline_tools.py
  doc/examples/tracking_introduction_eudx.py
  doc/examples/tracking_sfm.py
Labels: :notebook:type:Documentation :notebook:, type:Maintenance

#3373 DOC: Consider warnings as errors in documentation CI build
  .github/workflows/build_docs.yml
Labels: :notebook:type:Documentation :notebook:, type:Maintenance

#3381 RF: Add support for sequential processing in Gibbs unringing
  dipy/denoise/gibbs.py
Labels: type:Enhancement

#3372 BugFix: New Atlas OMM not working with Horizon
  dipy/viz/horizon/app.py
  dipy/viz/horizon/tab/slice.py
  dipy/viz/horizon/util.py
  dipy/viz/horizon/visualizer/slice.py
  dipy/viz/tests/test_util.py
Labels: type:Bug Fix, category:visualization

#3345 DOC: Skip element in documentation generation
  doc/conf.py
Labels: :notebook:type:Documentation :notebook:

#3140 NF: Adding correct_mask to median_otsu
  .pre-commit-config.yaml
  dipy/nn/evac.py
  dipy/nn/utils.py
  dipy/segment/mask.py
  dipy/segment/meson.build
  dipy/segment/tests/meson.build
  dipy/segment/tests/test_utils.py
  dipy/segment/utils.py
  dipy/workflows/segment.py
  dipy/workflows/tests/test_segment.py
  ruff.toml
Labels: type:Enhancement

#3384 BF: Updated non_local_means
  dipy/denoise/non_local_means.py
  dipy/denoise/tests/test_non_local_means.py
Labels: type:Bug Fix

#3386 DOC: Update the CI tool to GHA in `CONTRIBUTING` file
  .github/CONTRIBUTING.md
Labels: :notebook:type:Documentation :notebook:, type:Maintenance

#3387 DOC: Add first interaction GHA workflow file
  .github/workflows/first_interaction.yml
  doc/devel/commit_codes.rst
Labels: :notebook:type:Documentation :notebook:, type:Maintenance

#3393 RF: fix API generation
  doc/tools/apigen.py
Labels: :notebook:type:Documentation :notebook:

#3391 STYLE: removing pep8speaks conf file in favor of pre-commit action
  .pep8speaks.yml
Labels: type:Maintenance

#3390 DOC: Update DTI tutorial title
  doc/examples/reconst_csd.py
  doc/examples/reconst_cti.py
  doc/examples/reconst_dki.py
  doc/examples/reconst_dki_micro.py
  doc/examples/reconst_dsi.py
  doc/examples/reconst_dsid.py
  doc/examples/reconst_dti.py
  doc/examples/reconst_ivim.py
  doc/examples/reconst_rumba.py
  doc/examples/reconst_sfm.py
Labels: :notebook:type:Documentation :notebook:

#3368 [NF] DAM implementation for tissue classification using DMRI signal properties.
  dipy/segment/tests/meson.build
  dipy/segment/tests/test_tissue.py
  dipy/segment/tissue.py
  doc/references.bib
Labels: type:New feature

#3303 NF: Patch2Self3
  dipy/denoise/patch2self.py
  dipy/denoise/tests/test_patch2self.py
  dipy/stats/meson.build
  dipy/stats/sketching.py
  dipy/stats/tests/meson.build
  dipy/stats/tests/test_sketching.py
  dipy/workflows/denoise.py
  dipy/workflows/tests/test_denoise.py
  doc/examples/denoise_patch2self.py
  doc/references.bib
Labels: type:Enhancement
