Repository dipy/dipy, pull requests merged in 2024-04, with the labels that each got.

#3153 ENH: add save peaks to dipy_fit_dti, dki
  dipy/workflows/reconst.py
  dipy/workflows/tests/test_reconst_dki.py
  dipy/workflows/tests/test_reconst_dsi.py
  dipy/workflows/tests/test_reconst_dti.py
Labels: type:Enhancement

#3128 NF: Fibonacci Hemisphere
  dipy/core/sphere.py
  dipy/core/tests/test_sphere.py
Labels: type:Enhancement

#3168 Feature/peaks tab revamp
  dipy/data/files/record_horizon.log.gz
  dipy/viz/horizon/app.py
  dipy/viz/horizon/tab/__init__.py
  dipy/viz/horizon/tab/base.py
  dipy/viz/horizon/tab/peak.py
  dipy/viz/horizon/tab/tests/test_base.py
  dipy/viz/tests/test_apps.py
Labels: category:visualization

#3171 Clean up for tabs and tab manager
  dipy/viz/horizon/app.py
  dipy/viz/horizon/tab/__init__.py
  dipy/viz/horizon/tab/base.py
  dipy/viz/horizon/tab/cluster.py
  dipy/viz/horizon/tab/peak.py
  dipy/viz/horizon/tab/roi.py
  dipy/viz/horizon/tab/slice.py
  dipy/viz/horizon/tab/surface.py
  dipy/viz/horizon/tab/tests/test_base.py
Labels: type:Enhancement, category:visualization

#3172 [ENH] Enable range for dipy_median_otsu workflow
  dipy/utils/convert.py
  dipy/utils/meson.build
  dipy/utils/tests/meson.build
  dipy/utils/tests/test_convert.py
  dipy/workflows/segment.py
  dipy/workflows/tests/test_segment.py
  doc/api_changes.rst
  doc/interfaces/basic_flow.rst
  doc/interfaces/reconstruction_flow.rst
Labels: type:Enhancement

#3180 BF: Fix bug in mode for isotropic tensors
  dipy/reconst/dti.py
  dipy/reconst/tests/test_dti.py
Labels: type:Bug Fix

#3177 Loading Peaks faster with complete range and synchronization functionality.
  dipy/viz/horizon/visualizer/peak.py
Labels: category:visualization

#3181 [PEP8] fix pep8 and docstring style in `dti.py` file
  dipy/reconst/dti.py
Labels: type:Maintenance

#3183 ENH: Specify the solver for the MAP-MRI positivity constraint test
  dipy/reconst/tests/test_mapmri.py
Labels: type:Maintenance

#3188 ENH: Add `pre-commit` to project `dev` dependencies
  pyproject.toml
Labels: type:Maintenance

#3176 ENH: allow vol_idx in align workflow
  dipy/workflows/align.py
  dipy/workflows/meson.build
  dipy/workflows/segment.py
  dipy/workflows/tests/meson.build
  dipy/workflows/tests/test_align.py
  dipy/workflows/tests/test_utils.py
  dipy/workflows/utils.py
Labels: type:Enhancement

#3189 Update affine_registration to clarify returns and make them consistent with docstring
  dipy/align/_public.py
Labels: :notebook:type:Documentation :notebook:

#3151 DKI Updates: (new radial tensor kurtosis metric, updated documentation and missing tests)
  dipy/reconst/dki.py
  dipy/reconst/tests/test_dki.py
  doc/examples/reconst_dki.py
  doc/examples/reconst_dki_micro.py
  doc/examples/reconst_msdki.py
Labels: type:Enhancement

#3191 [RF] allow float and double for `trilinear_interpolate4d_c`
  dipy/core/interpolation.pxd
  dipy/core/interpolation.pyx
  dipy/core/tests/test_interpolation.py
Labels: type:Enhancement

#3198 ENH: Ensure that `arccos` argument is in the [-1,1] range
  dipy/core/geometry.py
Labels: type:Maintenance

#3197 ENH: Fix miscellaneous warnings in `dki` reconstruction module
  dipy/reconst/dki.py
  dipy/reconst/tests/test_dki.py
  doc/examples/reconst_dki.py
Labels: type:Maintenance

#3182 [NF] Add DiSCo challenge data fetcher
  dipy/data/__init__.py
  dipy/data/fetcher.py
  dipy/workflows/tests/test_io.py
  doc/examples/reconst_dki.py
Labels: type:New feature

#3194 MAINT: fix warning
  dipy/workflows/tests/test_reconst_dki.py
  dipy/workflows/tests/test_reconst_dti.py
Labels: type:Maintenance

#3158 ENH: Remove filtering `UserWarning` warnings in test config file
  dipy/conftest.py
  dipy/viz/__init__.py
Labels: type:Maintenance

#3202 [TEST] Add flag to turn warnings into errors for pytest
  .github/workflows/test_template.yml
  dipy/conftest.py
Labels: type:Maintenance

#3204 DOC: Fix documentation typos
  dipy/align/expectmax.pyx
  dipy/denoise/pca_noise_estimate.pyx
  dipy/direction/ptt_direction_getter.pyx
Labels: :notebook:type:Documentation :notebook:

#3206 BF: Use `cnp.npy_intp` instead of `int` as counter
  dipy/denoise/nlmeans_block.pyx
  dipy/direction/ptt_direction_getter.pyx
  dipy/segment/clusteringspeed.pyx
  dipy/segment/cythonutils.pyx
  dipy/segment/featurespeed.pyx
  dipy/segment/metricspeed.pyx
  dipy/segment/mrf.pyx
  dipy/tracking/distances.pyx
  dipy/utils/fast_numpy.pyx
Labels: type:Maintenance

#3207 DOC: Fix Cython method parameter type description
  dipy/align/parzenhist.pyx
Labels: :notebook:type:Documentation :notebook:

#3174 NF - initial directions from seed positions
  dipy/direction/peaks.py
  dipy/direction/tests/test_peaks.py
  dipy/tracking/tests/test_utils.py
  dipy/tracking/utils.py
Labels: type:Enhancement, type:New feature
