Repository dipy/dipy, pull requests merged in 2024-05, with the labels that each got.

#3210 Python 3.13: Fix tests for next Python release
  dipy/tracking/tests/test_tracking.py
  dipy/utils/tests/test_deprecator.py
Labels: type:Maintenance

#3211 [RF] PMF Gen: from memoryview to pointer
  dipy/direction/closest_peak_direction_getter.pxd
  dipy/direction/closest_peak_direction_getter.pyx
  dipy/direction/pmf.pxd
  dipy/direction/pmf.pyx
  dipy/direction/probabilistic_direction_getter.pyx
  dipy/direction/ptt_direction_getter.pyx
  dipy/direction/tests/test_pmf.py
  dipy/utils/fast_numpy.pyx
Labels: type: Refactoring

#3215 tests: correct module-level setup
  dipy/reconst/tests/test_shore.py
Labels: type:Maintenance

#3214 RF - remove buffer argument in pmf_gen.get_pmf_value(.)
  dipy/direction/pmf.pxd
  dipy/direction/pmf.pyx
  dipy/direction/ptt_direction_getter.pyx
Labels: type:Enhancement

#3220 [RF] from `os.fork` to `spawn` for multiprocessing
  dipy/align/reslice.py
  dipy/denoise/gibbs.py
  dipy/direction/peaks.py
Labels: type:Maintenance

#3209 [CI] Move filterwarnings from pyproject to conftest
  pyproject.toml
Labels: type:Maintenance

#3218 STYLE: Fix codespell issues
  .codespellrc
  dipy/denoise/noise_estimate.py
  dipy/denoise/tests/test_noise_estimate.py
  dipy/viz/streamline.py
  dipy/viz/tests/test_streamline.py
Labels: :notebook:type:Documentation :notebook:, type:Maintenance

#3178 DOC: Fixes the AFQ tract profile tutorial.
  dipy/data/fetcher.py
  doc/examples/afq_tract_profiles.py
Labels: type:Bug Fix, :notebook:type:Documentation :notebook:

#3224 BF: Rewrite list creation as `list()` instead of `[]`
  dipy/nn/tests/test_evac.py
Labels: type:Maintenance

#3230 STYLE: Fix function definition loop variable binding warning
  dipy/reconst/csdeconv.py
Labels: type:Maintenance

#3241 RF: Codespell fix for CI
  dipy/reconst/msdki.py
  dipy/tracking/distances.pyx
  doc/devel/installation_from_source.rst
  doc/examples/reconst_msdki.py
  doc/reconstruction_models_list.rst
  doc/release_notes/release0.15.rst
Labels: :notebook:type:Documentation :notebook:, type:Maintenance
