Repository dipy/dipy, pull requests merged in 2025-06, with the labels that each got.

#3554 Doc: Fix typo in multiple tutorial
  doc/examples/reconst_gqi.py
  doc/interfaces/reconstruction_flow.rst
  doc/interfaces/tracking_flow.rst
  doc/reconstruction_models_list.rst
Labels: :notebook:type:Documentation :notebook:, state: ready-to-be-merged

#3515 RF: Improve `dipy_info` printed output
  dipy/workflows/io.py
Labels: type:Enhancement, type: Refactoring

#3541 RF: Deprecate autocrop in median_otsu
  dipy/segment/mask.py
  dipy/segment/tests/test_mask.py
  dipy/workflows/segment.py
  dipy/workflows/tests/test_segment.py
  dipy/workflows/tests/test_workflow.py
Labels: type:Enhancement, state: ready-to-be-merged

#3563 RF: Address some Zero division warnings
  dipy/denoise/noise_estimate.py
  dipy/reconst/dti.py
  dipy/reconst/tests/test_dti.py
Labels: type:Enhancement, type:Maintenance

#3581 SciPy deprecation of "disp" in optimizer
  dipy/align/imaffine.py
  dipy/reconst/qtdmri.py
Labels: type:maintenance, type:backward compatibility

#3583 DOC: Change unused commit prefixes to some other more useful ones
  doc/devel/commit_codes.rst
Labels: :notebook:type:documentation :notebook:

#3582 NF: Add PR labeler workflow
  .github/labeler.yml
  .github/workflows/label-pr.yml
Labels: type:continuous integration
