Repository dipy/dipy, pull requests merged in 2025-01, with the labels that each got.

#3434 ENH: Transition remaining `NumPy` `RandomState` instances to `Generator`
  benchmarks/benchmarks/bench_tracking.py
  dipy/nn/tf/cnn_1d_denoising.py
  dipy/tracking/streamline.py
  dipy/tracking/streamlinespeed.pyx
  dipy/viz/horizon/app.py
  doc/examples/bundle_extraction.py
Labels: type:Enhancement, type:Maintenance

#3433 TEST: remove skip if not have_delaunay
  dipy/core/sphere.py
  dipy/core/tests/test_sphere.py
Labels: type:Bug Fix

#3436 RF: Update ``scipy.special`` deprecated functions
  dipy/reconst/csdeconv.py
  dipy/reconst/shm.py
  dipy/reconst/tests/test_shm.py
  dipy/utils/compatibility.py
  dipy/utils/meson.build
  dipy/utils/tests/meson.build
  dipy/utils/tests/test_compatibility.py
Labels: type:Maintenance

#3432 RF: bump tensorflow minimal version to 2.18.0.
  dipy/nn/__init__.py
  dipy/nn/tests/test_cnn_1denoiser.py
  dipy/nn/tests/test_deepn4.py
  dipy/nn/tests/test_evac.py
  dipy/nn/tests/test_histo_resdnn.py
  dipy/nn/tests/test_synb0.py
  dipy/nn/tests/test_tf.py
  dipy/nn/tf/cnn_1d_denoising.py
  dipy/nn/tf/deepn4.py
  dipy/nn/tf/evac.py
  dipy/nn/tf/histo_resdnn.py
  dipy/nn/tf/model.py
  dipy/nn/tf/synb0.py
  dipy/workflows/tests/test_nn.py
  pyproject.toml
Labels: type:Maintenance

#3441 ENH: Add GitHub CI workflow file to run benchmarks using `asv`
  .github/workflows/benchmark.yml
  benchmarks/benchmarks/bench_tracking.py
  pyproject.toml
Labels: type:New feature, type:Maintenance

#3440 RF - add pmf_gen argument to peaks_from_positions
  dipy/direction/peaks.py
  dipy/direction/pmf.pyx
  dipy/direction/tests/test_peaks.py
  dipy/direction/tests/test_pmf.py
  dipy/direction/tests/test_prob_direction_getter.py
Labels: type: Refactoring

#3400 CI: Add python 3.13
  .github/workflows/nightly.yml
  .github/workflows/test.yml
  .github/workflows/test_pre.yml
  .github/workflows/test_template.yml
Labels: state: needs code review, type:Maintenance, state: ready-to-be-merged
