Repository dipy/dipy, pull requests merged in 2025-03, with the labels that each got.

#3444 NF: Add 3 new ``dipy_extract_*`` workflows
  dipy/core/gradients.py
  dipy/core/tests/test_gradients.py
  dipy/utils/convert.py
  dipy/workflows/cli.py
  dipy/workflows/io.py
  dipy/workflows/tests/test_io.py
  pyproject.toml
Labels: type:New feature, state: ready-to-be-merged

#3456 Added tissue classification with DAM example
  doc/examples/_valid_examples.toml
  doc/examples/tissue_classification_dam.py
Labels: :notebook:type:Documentation :notebook:

#3457 DOC: fix markup issues with tracking tutorial
  doc/examples/tracking_fast_tractography.py
Labels: :notebook:type:Documentation :notebook:

#3467 RF: Changed the matrix
  doc/theory/b_and_q.rst
Labels: :notebook:type:Documentation :notebook:

#3446 Dki constraints
  dipy/core/optimize.py
  dipy/data/__init__.py
  dipy/data/files/dki_constraint_SC.npz
  dipy/data/files/meson.build
Labels: type:Enhancement

#3459 NF: Add default value to docstring for the CLI
  dipy/workflows/align.py
  dipy/workflows/base.py
  dipy/workflows/denoise.py
  dipy/workflows/io.py
  dipy/workflows/mask.py
  dipy/workflows/nn.py
  dipy/workflows/reconst.py
  dipy/workflows/segment.py
  dipy/workflows/stats.py
  dipy/workflows/tests/test_iap.py
  dipy/workflows/tracking.py
  dipy/workflows/viz.py
Labels: type:New feature

#3470 RF: Enforce bvecs for the cli extract_b0
  dipy/workflows/io.py
  dipy/workflows/tests/test_io.py
Labels: type:Bug Fix

#3438 NF: Add 7 new `dipy_fit_*` workflows
  dipy/direction/peaks.py
  dipy/reconst/forecast.py
  dipy/reconst/sfm.py
  dipy/workflows/cli.py
  dipy/workflows/flow_runner.py
  dipy/workflows/reconst.py
  dipy/workflows/tests/meson.build
  dipy/workflows/tests/test_reconst.py
  dipy/workflows/tests/test_reconst_csa_csd.py
  dipy/workflows/tests/test_reconst_dsi.py
  dipy/workflows/tests/test_reconst_rumba.py
  pyproject.toml
Labels: type:New feature, state: needs code review, state: ready-to-be-merged

#3458 NF: Add optional fetcher
  dipy/data/fetcher.py
  dipy/data/tests/test_fetcher.py
  dipy/tracking/tests/test_tracker.py
  dipy/tracking/tests/test_tractogen.pyx
  dipy/workflows/io.py
  doc/examples/tracking_fast_tractography.py
Labels: type:Enhancement

#3476 BF - generate_tractogram needs seed coordinate in image space
  dipy/tracking/tests/test_tracker.py
  dipy/tracking/tracker.py
  dipy/tracking/tractogen.pyx
Labels: type:Bug Fix

#3480 RF: Allow hcp and hcp in dipy_fetch CLI
  dipy/data/__init__.py
  dipy/data/fetcher.py
  dipy/workflows/io.py
  dipy/workflows/tests/test_io.py
  doc/examples/afq_tract_profiles.py
Labels: type:Enhancement

#3482 RF: Avoid crash of `optional_package` when dirty install
  dipy/utils/optpkg.py
  dipy/utils/tests/test_optpkg.py
Labels: type: Refactoring

#3479 DOC - Updated tracking examples to use the fast tracking framework
  dipy/tracking/tracker.py
  doc/examples/tracking_deterministic.py
  doc/examples/tracking_probabilistic.py
  doc/examples/tracking_ptt.py
Labels: :notebook:type:Documentation :notebook:

#3461 BF: Handling binary and small intensity value range and Volume slider not be shown if single channel provided.
  dipy/viz/horizon/tab/slice.py
  dipy/viz/horizon/visualizer/slice.py
Labels: type:Bug Fix, category:visualization

#3477 NF: Add dipy_classify_tissue CLI
  dipy/workflows/cli.py
  dipy/workflows/segment.py
  dipy/workflows/tests/test_segment.py
  dipy/workflows/workflow.py
  pyproject.toml
Labels: type:New feature

#3471 Patch2Self3 skipping b0_denoising error fixed.
  dipy/denoise/patch2self.py
  dipy/workflows/denoise.py
Labels: type:Bug Fix

#3483 ENH: Add use_cuda option to torch models
  dipy/nn/torch/deepn4.py
  dipy/nn/torch/evac.py
  dipy/nn/torch/histo_resdnn.py
Labels: type:Enhancement

#3486 RF: Fixed Warnings of Patch2self3
  dipy/denoise/patch2self.py
Labels: type:Bug Fix

#3485 DOC: remove modulo in dipy_math docstring
  dipy/workflows/io.py
Labels: :notebook:type:Documentation :notebook:

#3475 NF: add workflow for N4 biasfield
  dipy/workflows/cli.py
  dipy/workflows/nn.py
  dipy/workflows/segment.py
  dipy/workflows/tests/test_nn.py
  dipy/workflows/tests/test_segment.py
  pyproject.toml
Labels: type:New feature

#3489 DOC - Renamed fast tracking example
  dipy/tracking/tracker.py
  doc/examples/_valid_examples.toml
  doc/examples/tracking_disco_phantom.py
Labels: :notebook:type:Documentation :notebook:

#3487 RF: update tracking cli
  dipy/io/streamline.py
  dipy/tracking/tracker.py
  dipy/tracking/tractogen.pyx
  dipy/workflows/tests/test_tracking.py
  dipy/workflows/tracking.py
  doc/examples/tracking_bootstrap_peaks.py
  doc/examples/tracking_introduction_eudx.py
  doc/examples/tracking_pft.py
  doc/examples/tracking_rumba.py
  doc/examples/tracking_sfm.py
  doc/examples/tracking_stopping_criterion.py
Labels: type:Enhancement

#3491 BF: Handled None case for pathlib
  dipy/viz/horizon/visualizer/slice.py
Labels: type:Bug Fix

#3481 UPCOMING: Release 1.11.0
  Changelog
  LICENSE
  doc/devel/installation_from_source.rst
  doc/devel/toolchain.rst
  doc/index.rst
  doc/old_highlights.rst
  doc/old_news.rst
  doc/release_notes/release1.11.rst
  doc/stateoftheart.rst
  pyproject.toml
Labels: type:Release plan

#3495 BF: Fixing minor issue in dipy_classify_tissue dam option
  dipy/denoise/patch2self.py
  dipy/workflows/denoise.py
  dipy/workflows/segment.py
Labels: type:Enhancement

#3514 DOC: Miscellaneous doc improvements
  dipy/io/utils.py
  dipy/workflows/io.py
  doc/devel/installation_from_source.rst
Labels: :notebook:type:Documentation :notebook:

#3512 STYLE: Call `warning` instead of the deprecated `warn` function
  dipy/workflows/io.py
Labels: type:Maintenance
