Repository dipy/dipy, pull requests merged in 2025-07, with the labels that each got.

#3595 DOC: Remove default arguments from docstrings
  dipy/workflows/tests/workflow_tests_utils.py
Labels: :notebook:type:documentation :notebook:

#3429 StatefulSurface - Class to handle surfaces
  dipy/data/fetcher.py
  dipy/io/meson.build
  dipy/io/stateful_surface.py
  dipy/io/stateful_tractogram.py
  dipy/io/streamline.py
  dipy/io/surface.py
  dipy/io/tests/meson.build
  dipy/io/tests/test_stateful_surface.py
  dipy/io/tests/test_stateful_tractogram.py
  dipy/io/tests/test_streamline.py
  dipy/io/tests/test_surface.py
  dipy/io/tests/test_utils.py
  dipy/io/utils.py
  dipy/io/vtk.py
  dipy/utils/tests/test_tractogram.py
  dipy/workflows/tests/test_io.py
  tools/ci/archives/windows.yml
Labels: type:new feature, type:infrastructure, area:data, area:io, area:utils, type:testing

#3597 STYLE: Miscellaneous style fixes
  dipy/align/imwarp.py
  dipy/core/geometry.py
  dipy/core/sphere_stats.py
  dipy/direction/pmf.pyx
  dipy/io/streamline.py
  dipy/io/surface.py
  dipy/reconst/rumba.py
  dipy/tracking/distances.pyx
  dipy/workflows/denoise.py
  dipy/workflows/io.py
Labels: area:align, area:core, area:direction, area:io, area:reconst, area:tracking, type:style

#3603 DOC: Fix workflows test utils parameter name in docstring
  dipy/workflows/tests/workflow_tests_utils.py
Labels: :notebook:type:documentation :notebook:, area:workflows

#3587 RF: from TRK to TRX as default file format for tracks
  dipy/align/_public.py
  dipy/align/tests/test_api.py
  dipy/data/fetcher.py
  dipy/viz/horizon/app.py
  dipy/workflows/align.py
  dipy/workflows/segment.py
  dipy/workflows/tests/test_align.py
  dipy/workflows/tests/test_tracking.py
  dipy/workflows/tracking.py
  dipy/workflows/viz.py
  doc/examples/afq_tract_profiles.py
  doc/examples/bundle_assignment_maps.py
  doc/examples/bundle_extraction.py
  doc/examples/bundlewarp_registration.py
  doc/examples/fast_streamline_search.py
  doc/examples/linear_fascicle_evaluation.py
  doc/examples/streamline_tools.py
  doc/examples/tracking_bootstrap_peaks.py
  doc/examples/tracking_deterministic.py
  doc/examples/tracking_disco_phantom.py
  doc/examples/tracking_introduction_eudx.py
  doc/examples/tracking_pft.py
  doc/examples/tracking_probabilistic.py
  doc/examples/tracking_ptt.py
  doc/examples/tracking_rumba.py
  doc/examples/tracking_sfm.py
  doc/examples/tracking_stopping_criterion.py
  doc/faq.rst
Labels: type:refactoring, type:infrastructure, area:align, area:data, area:documentation, area:examples, area:workflows, type:testing

#3604 RF: replace old LocalTracking by our new tracking interface
  dipy/viz/tests/test_fury.py
  doc/examples/cluster_confidence.py
  doc/examples/fiber_to_bundle_coherence.py
  doc/examples/path_length_map.py
  doc/examples/streamline_tools.py
  doc/examples/tracking_stopping_criterion.py
  doc/examples/viz_roi_contour.py
Labels: type:documentation, area:documentation, area:tracking

#3602 ENH: Adopt `pathlib` for workflows
  dipy/workflows/align.py
  dipy/workflows/denoise.py
  dipy/workflows/io.py
  dipy/workflows/mask.py
  dipy/workflows/multi_io.py
  dipy/workflows/nn.py
  dipy/workflows/reconst.py
  dipy/workflows/segment.py
  dipy/workflows/stats.py
  dipy/workflows/tests/test_align.py
  dipy/workflows/tests/test_denoise.py
  dipy/workflows/tests/test_io.py
  dipy/workflows/tests/test_masking.py
  dipy/workflows/tests/test_nn.py
  dipy/workflows/tests/test_reconst.py
  dipy/workflows/tests/test_reconst_csa_csd.py
  dipy/workflows/tests/test_reconst_dki.py
  dipy/workflows/tests/test_reconst_dsi.py
  dipy/workflows/tests/test_reconst_dti.py
  dipy/workflows/tests/test_reconst_ivim.py
  dipy/workflows/tests/test_reconst_mapmri.py
  dipy/workflows/tests/test_segment.py
  dipy/workflows/tests/test_stats.py
  dipy/workflows/tests/test_tracking.py
  dipy/workflows/tests/test_viz.py
  dipy/workflows/tests/test_workflow.py
  dipy/workflows/tests/workflow_tests_utils.py
  dipy/workflows/tracking.py
  dipy/workflows/viz.py
Labels: area:workflows, type:testing
