Repository dipy/dipy, pull requests merged in 2025-04, with the labels that each got.

#3530 STYLE: Add additional emojis to first interaction message
  .github/workflows/first_interaction.yml
Labels: :notebook:type:Documentation :notebook:, type:Maintenance

#3531 CI: Ignore specific cvxpy warnings to avoid CI failure.
  pyproject.toml
Labels: type:Maintenance

#3533 CI: introduce cached Data.
  .github/workflows/coverage.yml
  .github/workflows/test.yml
  .github/workflows/test_compat.yml
  .github/workflows/test_optional.yml
  .github/workflows/test_parallel.yml
  .github/workflows/test_pre.yml
  .github/workflows/test_template.yml
Labels: type:Maintenance

#3528 DOC: Changed documentation errors in dipy.sims.voxel
  dipy/sims/voxel.py
Labels: :notebook:type:Documentation :notebook:

#3455 Fix Bugs in #3453: Ensure Correct Weight Reshaping & Consistent Extra Output in iter_fit_tensor
  dipy/reconst/dti.py
  dipy/reconst/tests/test_dti.py
Labels: type:Bug Fix

#3519 ENH: Horizon peaks fname support
  dipy/viz/horizon/app.py
  dipy/viz/horizon/tab/base.py
  dipy/viz/horizon/tab/peak.py
  dipy/viz/horizon/tab/tests/meson.build
  dipy/viz/horizon/tab/tests/test_peak.py
  dipy/viz/horizon/util.py
  dipy/viz/horizon/visualizer/peak.py
  dipy/viz/horizon/visualizer/slice.py
  dipy/viz/tests/test_util.py
  dipy/workflows/viz.py
Labels: category:visualization

#3538 RF: Fixed the latex
  doc/examples/reconst_dti.py
Labels: :notebook:type:Documentation :notebook:

#3488 RF - changed min/max len from nbr pts to mm
  dipy/tracking/tracker.py
  dipy/tracking/tracker_parameters.pxd
  dipy/tracking/tracker_parameters.pyx
  dipy/tracking/tractogen.pyx
  dipy/workflows/tracking.py
  doc/examples/tracking_bootstrap_peaks.py
  doc/examples/tracking_deterministic.py
  doc/examples/tracking_pft.py
  doc/examples/tracking_probabilistic.py
  doc/examples/tracking_ptt.py
  doc/examples/tracking_rumba.py
  doc/examples/tracking_stopping_criterion.py
Labels: type:Enhancement

#3493 NF: allow broadcasting in dipy_math
  dipy/workflows/io.py
  dipy/workflows/tests/test_io.py
Labels: type:New feature

#3520 ENH: Opacity slider turned off on hide
  dipy/viz/horizon/app.py
  dipy/viz/horizon/tab/base.py
  dipy/viz/horizon/tab/peak.py
  dipy/viz/horizon/tab/roi.py
  dipy/viz/horizon/tab/slice.py
  dipy/viz/horizon/tab/surface.py
  dipy/viz/horizon/tab/tests/meson.build
  dipy/viz/horizon/tab/tests/test_peak.py
  dipy/viz/horizon/tab/tests/test_roi.py
  dipy/viz/horizon/tab/tests/test_slices.py
  dipy/viz/horizon/tab/tests/test_surface.py
Labels: state: ready-to-be-merged, category:visualization
